{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">

  <div class="text-center">
    <h1>Bacs</h1>
    <hr>
  </div>

      <a class="btn btn-outline-dark btn-md float-right mb-3" href="{% url 'machine:container-create' %}" >Ajouter</a>
  
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Bacs</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for container in object_list %}
        <tr>
          <th scope="row" class="text-nowrap">{{ container|upper }}</th>
          <td class="justify-content-between">
            <div class="btn-group d-flex" role="group">
              <a href="{{ container.get_delete_url }}" class="btn btn-danger btn-sm">Supprimer</a>
              <a href="{{ container.get_absolute_url }}" class="btn btn-dark btn-sm">Mise A Jour</a>
              <a href="{{ container.get_empty_url }}" class="btn btn btn-sm">Vider</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}