{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">

  <div class="text-center">
    <h1>Types de machines</h1>
    <hr>
  </div>

      <a class="btn btn-outline-dark btn-md float-right mb-3" href="{% url 'machine:machinetype-create' %}" >Ajouter</a>
  
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Types</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for machinetype in object_list %}
        <tr>
          <th scope="row" class="text-nowrap">{{ machinetype|upper }}</th>
          <td class="justify-content-between">
            <div class="btn-group d-flex" role="group">
              <a href="{{ machinetype.get_delete_url }}" class="btn btn-danger btn-sm">Supprimer</a>
              <a href="{{ machinetype.get_machine_url }}" class="btn btn-dark btn-sm">Mise A Jour</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}