{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">

  <div class="text-center">
    <h1>Machines</h1>
    <hr>
  </div>

      <a class="btn btn-outline-dark btn-md float-right mb-3" href="{% url 'machine:machine-create' %}" >Ajouter</a>
  
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Type</th>
          <th scope="col">Marque</th>
          <th scope="col">Modèle</th>
          <th scope="col">Etat</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for machine in object_list %}
        <tr>
          <th scope="row" class="text-nowrap">{{ machine.id}}</th>
          <th scope="row" class="text-nowrap">{{ machine.machine_type|upper }} {{ machine.machine_number|upper }}</th>
          <th scope="row" class="text-nowrap">{{ machine.brand|upper }}</th>
          <th scope="row" class="text-nowrap">{{ machine.model_name|upper }}</th>
          <th scope="row" class="text-nowrap">{{ machine.get_state_display }}</th>
          <td class="justify-content-between">
            <div class="btn-group d-flex" role="group">
              <a href="{{ machine.get_delete_url }}" class="btn btn-danger btn-sm">Supprimer</a>
              <a href="{{ machine.get_absolute_url }}" class="btn btn-dark btn-sm">Mise A Jour</a>
              <a href="{{ machine.get_free_url }}" class="btn btn-sm">Libérer</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}