{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1 class='mb-3'>Demande De Congé</h1>
    {% include 'base/messages.html' %}
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
    <div class="col-md-12 mb-5">
        <select name="user" id="user">
        {% for user in users%}
          <option value="{{user.username}}">{{user}}</option>
        {% endfor %}
        </select>
    </div>
      <div class="col-md-4 mb-3">
        {{ form.start_date.label }}
        {{form.start_date}}
      </div>
      <div class="col-md-4 mb-3 produc-list-u">
        {{ form.end_date.label }}
        {{form.end_date}}
      </div>
      <div class="col-md-4 mb-3 produc-list-u">
        {{ form.motive.label }}
        {{form.motive}}
      </div>
      <div class="col-md-6 mb-3 produc-list-u">
        {{ form.address.label }}
        {{form.address}}
      </div>
      <div class="col-md-3 mb-3 produc-list-u">
        {{ form.mobile.label }}
        {{form.mobile}}
      </div>
      <div class="col-md-3 mb-3 produc-list-u">
        {{ form.substitute.label }}
        {{form.substitute}}
      </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
