{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1 class='mb-3'>Pointage</h1>
    {% include 'base/messages.html' %}
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
    <div class="col-md-12 mb-5">
        <select name="user" id="user">
        {% for user in users%}
          <option value="{{user.username}}">{{user}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="col-md-4 mb-3">
        {{ form.start_date.label }}
        {{form.start_date}}
      </div>
      <div class="col-md-4 mb-3">
      <label style = "margin-bottom : 4px;"> Heure Début </label>
      <input
                pattern=".{1,}"
                class="form-control form-control-sm"
                value="0"
                name="start_hour"
                id="start_hour"
                type="number"
                min="0"
              />
      </div>
      <div class="col-md-4 mb-3">
      <label style = "margin-bottom : 4px;"> Minutes Début </label>
      <input
                pattern=".{1,}"
                class="form-control form-control-sm"
                value="0"
                name="start_minute"
                id="start_minute"
                type="number"
                min="0"
              />
      </div>
      <div class="col-md-4 mb-3 produc-list-u">
        {{ form.end_date.label }}
        {{form.end_date}}
      </div>
      <div class="col-md-4 mb-3">
      <label style = "margin-bottom : 4px;"> Heure Fin </label>
      <input
                pattern=".{1,}"
                class="form-control form-control-sm"
                value="0"
                name="end_hour"
                id="end_hour"
                type="number"
                min="0"
              />
      </div>
      <div class="col-md-4 mb-3">
      <label style = "margin-bottom : 4px;"> Minutes Fin </label>
      <input
                pattern=".{1,}"
                class="form-control form-control-sm"
                value="0"
                name="end_minute"
                id="end_minute"
                type="number"
                min="0"
              />
      </div>
      <div class="col-md-12 mb-3">
      {{form.absence.label}}
      {{form.absence}}
      </div>
      <div class="col-md-12 mb-3">
      {{form.holiday.label}}
      {{form.holiday}}
      </div>
    </div>
    

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
