{% extends "base/base.html"%}

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="text-center col-md-12 mx-auto shadow-lg p-3 mb-5 bg-white rounded align-self-center">
           <form method="POST">{% csrf_token %}
            <div>
                <h1>Voulez-vous vraiment supprimer "{{ object }}"?</h1>
            </div>
            <a href="{% url 'product:labellings' %}" type="button" class="btn-lg btn-secondary btn">Annuler</a>
            <button type="submit" class="btn btn-lg btn-danger text-white">Supprimer</button>
           </form>
        </div>
    </div>
</div>

{% endblock content %}