{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Déchet</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-3 mb-3">
        {{ form.trash_type.label }}
        {{form.trash_type}}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.machine.label }}
        {{form.machine}}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.weight.label }}
        {{form.weight}}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.comment.label }}
        {{form.comment}}
      </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
