{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">
    <a class="btn btn-lg" href="{% url 'stock-manager:recap-page' %}">Récapitulatif</a>

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Gestionnaire de Stock</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:index-raw-matter' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-mortar-pestle fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Matière Première</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:index-finished-product' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-shopping-bag fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Produit Fini</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:index-coils' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-database fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Bobines</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a <a href="{% url 'stock-manager:index-trash' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-recycle fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Déchet</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:index-consumables' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-scroll fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Consommables</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:package-index' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-box-open fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Emballage</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:index-exchange-parts' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-wrench fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Pièces De Rechange</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            
            <!--Grid column-->
            <div class="col-md-6 mb-4 text">

                <!-- Card -->
                <a <a href="{% url 'stock-manager:quarantine-coil' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-exclamation-triangle fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Bobines A Détruire</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-12 mb-4 text">

                <!-- Card -->
                <a <a href="{% url 'stock-manager:index-control' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-search fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Contrôle</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->


        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>


</div>

{% endblock content %}