{% include "base/base.html" %} {% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Enregistrements</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:orders-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Entrées/Sorties</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Stock Atelier Matière Première</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-workshop-status' 'rawmatter' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-clipboard-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Etat</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:rawmatter-workshop' %}" class="card hoverable">
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-check-double fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Correction</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:workshop-rawmatter-loss' %}" class="card hoverable">
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-times fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Perte</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>




<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Stock Atelier Emballage</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-workshop-status' 'package' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-clipboard-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Etat</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:package-workshop' %}" class="card hoverable">
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-check-double fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Correction</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:workshop-package-loss' %}" class="card hoverable">
                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-times fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Perte</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

{% endblock %}
