{% extends "base/base.html" %} {% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>{{form_name}}</h1>
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Bobines A Détruire</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:5%">#</th>
          <th style="width:15%">ID</th>
          <th style="width:35%">Opérateur</th>
          <th style="width:35%">Poids</th>
          <th style="width:35%">Micronnage</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for coil in object_list %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{coil|upper}}</td>
            <td>{% if coil.user is not None %}{{coil.user.first_name|upper}} {{coil.user.last_name|upper}} {% elif coil.supplier is not None %}{{coil.supplier}} {% endif %}</td>
            <td>{{coil.weight}}</td>
            <td>{{coil.micronnage}}</td>
            <td class="text-right">
              <a type="submit" class="btn btn-dark btn-sm float-left" href="{% url 'stock-manager:destroy-coil' coil.slug %}">Détruire</a>
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune Bobine A Détruire</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
