{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>{{form_name}}</h1>
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Demandes De Congé</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:5%">#</th>
          <th style="width:15%">Nom</th>
          <th style="width:15%">Poste</th>
          <th style="width:15%">Date</th>
          <th style="width:15%">Du</th>
          <th style="width:15%">Au</th>
          <th style="width:10%">Durée</th>
          <th style="width:10%">Remplaçant</th>
          <th style="width:10%">Etat</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for p in object_list %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{p.user.first_name|upper}} {{p.user.last_name|upper}}</td>
            <td>{{p.user.profile.job_position.name}}</td>
            <td>{{p.request_date}}</td>
            <td>{{p.start_date}}</td>
            <td>{{p.end_date}}</td>
            <td>{{p.duration}} Jours</td>
            <td>{% if p.substitute is not None %}{{p.substitute}}{% endif %}</td>
            <td>{{ p.get_state_display }} {% if p.state == "ACCEPTED" %} <a type="submit" class="btn btn-sm" href = "{% url 'production:print-holiday-request' p.slug %}">Imp</a> {% endif %}</td>
            <td class="text-right">
            {% if p.state == "PENDING" %}
              <a type="submit" class="btn btn-dark btn-sm" href = "{% url 'production:accept-holiday-request' p.slug %}">Accepter</a>
              <a type="submit" class="btn btn-red btn-sm" href = "{% url 'production:reject-holiday-request' p.slug %}">Refuser</a>
            {% else %}
            <a type="submit" class="btn btn-red btn-sm" href = "{% url 'production:delete-holiday-request' p.slug %}">Supprimer</a>
            {% endif %}
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune demande de congé en attente</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
