{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>{{form_name}}</h1>
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Historique Pointage</h2>
  </div>
  <hr>
  <hr>
  {% for user in users %}
  <div class="text-center">
    <h2>{{user.first_name}} {{user.last_name}}</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:12%">Date</th>
          <th style="width:10%">Heures</th>
          <th style="width:15%">Absence Autorisée</th>
          <th style="width:15%">Transport</th>
          <th style="width:15%">Congé</th>
          <th style="width:15%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for point in object_list %}
        {% if point.user == user %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <td>{{point.start_date}} <br> {{point.end_date}}</td>
            <td>{{point.hours}}h{{point.minutes}}m</td>
            <td>{% if point.absence is not None and point.absence != 0 %}{{point.absence|floatformat:0}}h{% endif %}</td>
            <td>{% if point.transport is not None and point.transport != 0 %}{{point.transport|floatformat:0}}h{% endif %}</td>
            <td>{% if point.holiday is True %}Oui{% endif %}</td>
            <td class="text-right">
            <div class="float-left mt-0">
              {% if point.valid is not True%} <a type="submit" class="btn btn-red btn-sm" href="{% url 'production:delete-point' point.slug %}">Annuler</a> {% else %}Validé{% endif %}
            </div>
            </td>
          </form>
        </tr>
        {% endif %}
        {% empty %}
        <tr>
          <td colspan="5">Aucun Historique</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr><hr><hr><hr>
  {% endfor %}
</div>

{% endblock content %}
