{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">

  <div class='text-center mt-3'>
    <h3>Liste des Utilisateur</h3>
  </div>

  <!-- <div class="row mb-3">

    <div class="col-md-10">
      <div class="md-form mb-0">
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>

    <div class="col-md">
      <div class="md-form mb-0">
        <a href="" class="btn btn-outline-dark">Rechercher</a>
      </div>
    </div>
  </div> -->
  <div class="row justify-content-end">
    <div class="col-sm-12 col-md-4">
      <form class="form-inline md-form mb-4">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name='q'
          value='{{ request.GET.q }}'>
        <button class="btn btn-outline-dark btn-rounded btn-sm my-0" type="submit">Search</button>
      </form>
    </div>
  </div>


  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th style="width:25%;">Nom</th>
          <th style="width:10%;">Pseudo</th>
          <th style="width:10%;">Groupe</th>
          <th style="width:25%;">Poste</th>
          <th style="width:30%;">Téléphone</th>
        </tr>
      </thead>
      <tbody>
        {% for profile in object_list %}
        
        <tr>
        
          <th>{{ profile.user.first_name|upper }} {{ profile.user.last_name|upper }}</th>
          <td>{{ profile.user.username }}</td>
          <td>{{ profile.group|upper }}</td>
          <td>{{ profile.job_position.name }}</td>
          {% if request.user.username != "admin" %}<td>{{ profile.mobile }}</td>
          {% else %}
         <td>
           <a class = "btn btn-md btn-red" href="{{ profile.get_delete_url }}">Supprimer</a>
            <a class = "btn btn-md btn" href="{{ profile.get_absolute_url }}">Modifier</a>
          </td>
          {% endif %}
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}