{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  
    <div class='text-center mt-3'>
    <h3>Liste des Pièces de Rechange</h3>
  </div>
  <div class="row mb-3">
    <div class="col-md-10">
      <div class="md-form mb-0">
       <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control ml-3 w-75" type="text" placeholder="Search"
          aria-label="Search">
      </form>
      </div>
    </div>
    <div class="col-md">
      <div class="md-form mb-0">
        <a href="{% url 'product:part-create' %}" class="btn btn-outline-dark">Ajouter</a>
      </div>
    </div>
  </div>

 <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
          <th scope="col" style="width: 10%">Référence</th>
          <th scope="col" style="width: 20%">Désignation ENG</th>
          <th scope="col" style="width: 20%">Désignation FR</th>
          <th scope="col" style="width: 10%">Quantité</th>
          <th scope="col" style="width: 10%">Prix</th>
          <th scope="col" style="width: 10%">Action</th>
        </tr>
      </thead>
      
      <tbody>
        {% for part in object_list %}
        <tr>
          <td>{{ part.ref }}</td>
          <td>{{ part.name }}</td>
          <td>{{ part.name_fr }}</td>
          <td>{{ part.quantity }}</td>
          <td>{{ part.price }} €</td>
          <td class="justify-content-between">
            <div class="btn-group d-flex" role="group">
              <a href="{{ part.get_delete_url }}" class="btn btn-danger btn-sm">Supprimer</a>
              <a href="{{ part.get_absolute_url }}" class="btn btn-dark btn-sm">Mise A Jour</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}