{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Consommables</h1>


        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:labellings' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-toilet-paper fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Labelling</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:handles' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-ring fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Cordon</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:tapes' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tape fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Scotch</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>


</div>
<!--First row-->
</section>


</div>

{% endblock content %}