{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:tickets' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Création Ticket</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:ticket-sale-page' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-coins fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Vente Ticket</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        <!-- Section heading -->
        <hr class="mb-4">

        

        </div>


</div>
<!--First row-->
</section>
</div>
{% endblock content %}