{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Identités de Produits</h1>
        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:brands' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-copyright fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Marque</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:colors' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-palette fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Couleur</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:flavors' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-leaf fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Parfums</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'product:ranges' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-wave-square fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Gamme</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        
           

        <!-- Section heading -->
        <hr class="mb-4">

        

        </div>


</div>
<!--First row-->
</section>


</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Gestionnaire De Produits</h1>
<hr class="mb-4">
        <!--First row-->
        <div class="row mt-1">

        
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:rawmatters' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-fill-drip fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Matière Première</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:coils' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-database fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Bobine</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

                <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:products' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-boxes fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Produit Fini</h5>

                    </div>

                </a>
                <!-- Card -->
            
            </div>
            <!--Grid column-->
<hr class="mb-4">

</div>
<!--First row-->
</section>


</div>



<div class="container my-5">

<hr class="mb-4">
    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Produits Secondaires</h1>


        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:parts' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tools fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Pièce de Rechange</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:index-consumables' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-scroll fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Pièce Consommable</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <div class="col-md-4 mb-4 mt-4">

                <!-- Card -->
                <a href="{% url 'product:packages' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-box-open fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Emballage</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
<hr class="mb-4">

</div>
<!--First row-->
</section>


</div>
<div class="container my-5">

    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Gestionnaire De Machines</h1>
<hr class="mb-4">
        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'machine:machines' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cogs fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Machines</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            {% comment %} <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'machine:containers' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-box fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Bacs</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column--> {% endcomment %}

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'machine:machinetypes' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-braille fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Type de machines</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
<hr class="mb-4">
<!--First row-->
</section>


</div>

<section>
    <div class="container my-5">
    
        <!--Section: Content-->
        <section class="dark-grey-text text-center">
            <!-- Section heading -->
            <hr class="mb-4">
            <h1 class="font-weight-bold black-text mb-5 pb-2">Gestion Des Utilisateurs</h1>
            <!--First row-->
            <hr class="mb-4">
            <div class="row mt-1">
                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!-- Card -->
                    <a href="{% url 'register' %}" class="card hoverable">
                        <!-- Card content -->
                        <div class="card-body my-4">
                            <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                            <h5 class="black-text mb-0">Nouvel Utilisateur</h5>
                        </div>
                    </a>
                    <!-- Card -->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!-- Card -->
                    <a href="{% url 'profiles-list' %}" class="card hoverable">
                        <!-- Card content -->
                        <div class="card-body my-4">
                            <p><i class="fas fa-users fa-3x text-muted"></i></p>
                            <h5 class="black-text mb-0">Liste des Utilisateurs</h5>
                        </div>
                    </a>
                    <!-- Card -->
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">
                    <!-- Card -->
                    <a href="{% url 'job-position' %}" class="card hoverable">
                        <!-- Card content -->
                        <div class="card-body my-4">
                            <p><i class="fas fa-user-tag fa-3x text-muted"></i></p>
                            <h5 class="black-text mb-0">Postes</h5>
                        </div>
                    </a>
                    <!-- Card -->
                </div>
                <!--Grid column-->
               
            </div>
            <!--First row-->
    </div>
</section>

<div class="container my-5">

    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <hr class="mb-4">
        <h1 class="font-weight-bold black-text mb-5 pb-2">Gestionnaire de Contacts</h1>
        <hr class="mb-4">
        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'contact:add-contact' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Nouveau Contact</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'contact:contacts' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-id-card fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Liste des Contacts</h5>

                    </div>

                </a>
                <!-- Card -->
            </div>
            <!--Grid column-->

<!--First row-->
</section>

</div>

{% endblock content %}