<!DOCTYPE html>
{% load static %}
<style type="text/css">
@page {
        size: A6;
        margin: 0.9cm;
      }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Ticket</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <h1 style="font-weight: bold; font-size: 20px; margin-bottom: 0px;">&nbsp;&nbsp;&nbsp;Théatre Régional de Mascara</h1>
    <h1 style="font-weight: bold; font-size: 20px; margin-top: 0px; margin-bottom: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BACHIR ZAHAF</h1>
    <div class="row mt-1">      
      <img alt="logo" src="{{company2.logo.path}}" width="90" height="90" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img alt="logo" src="{{company.logo.path}}" width="90" height="90" />
    </div>
    <hr>
    <h2>N° : {{ticket_sale.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ticket_sale.date}}</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="logo" style="margin-bottom: 0px;" src="{{company3.logo.path}}" width="250" height="30" />
    <h1 style="font-size: 40px; font-weight: bold; margin-top: 20px; margin-bottom: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ticket_sale.price|floatformat:0}} DA</h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="logo" style="margin-top: 0px;" src="{{company4.logo.path}}" width="250" height="30" />
    <hr>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SOYEZ LES BIENVENUS</h1>
    <h3 style="font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img alt="logo" src="{{company5.logo.path}}" width="22" height="20" />Théatre Régional Mascara Page Officielle</h3>
    <p style="font-size: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Place El Amir Abdelkader - 29 000 Mascara<br>&nbsp;&nbsp;&nbsp;FAX: 045.75.21.30 TEL: 045.75.21.29 \ Email: trmascara@gmail.com</p>
  </body>
</html>