{% extends "base/base.html" %} {% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center mb-4">
    <h2>Récapitulatif</h2>
  </div>
  <br>
 <form method="get" action = "{% url 'production:admin-recap' %}" target = "_blank">
    <div class="form-row mt-2 mb-2">
      {% csrf_token %}
      <div class="col-md-4">
        <input class="form-control" type="search"   name="user-first" id="user-first" placeholder = "Prénom">
      </div>
      <div class="col-md-4">
        <input class="form-control" type="search"   name="user-last" id="user-last" placeholder = "Nom">
      </div>
      <div class="col-md-4 mb-4">
        <select class="form-control" name="user-job" id="user-job">
        {% for job in job_positions %}
        <option value="{{job.slug}}">{{ job }}</option>
        {% endfor%}
        </select>
      </div>
      <div class="col-md-5">
        <input class="form-control" type="date"   name="date" id="date" >
      </div>
      <div class="col-md-4 ml-5 mt-1">
      
        <input class="ml-3 mr-1" type="checkbox" name="morning" id="morning" ><label class="mr-4" for="morning">Matinée</label>
        <input class="mr-1" type="checkbox" name="evening" id="evening" ><label for="evening">Après Midi</label>
        <input class="ml-4 mr-1" type="checkbox" name="night" id="night" ><label for="night">Nuit</label>

      </div>
      <div class="col-md-2 ml-4">
      <button type="submit" class="btn btn-dark btn-sm float-left mt-0">Valider</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}