{% extends "base/base.html" %} {% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Bobines En Attente</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:5%">#</th>
          <th style="width:15%">Référence</th>
          <th style="width:45%">Produit</th>
          <th style="width:15%">Poids</th>
          <th style="width:15%">Micronnage</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for coil in object_list %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{coil.ref|upper}}</td>
            <td>{{coil.type_coil|upper}}</td>
            <td class="text-right">
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="{{weight}}"
                id="{{weight}}"
                type="number"
                step = '0.01'
              />
            </td>
            <td class="text-right">
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="{{micronnage}}"
                id="{{micronnage}}"
                type="number"
                step = '0.01'
              />
            </td>
            <td class="text-right">
              <a type="submit" class="btn btn-dark btn-sm float-left" href="{% url 'production:coil-finalization' coil.ref %}">Terminer</a>
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune bobine en attente</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
