<!DOCTYPE html>
{% load static %}
<style type="text/css">
@page {
        size: A6;
        margin: 0.4cm;
      }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Etiquette Problème Bobine</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
    </style>
  </head>
  <body>
      <div class="card">
        <div>
            {% if coil.status == "QUARANTINE" %}
            <p style="text-align: center; font-size: 25px; margin-bottom : 0px; font-weight : bold;"> BOBINE EN QUARANTAINE </p></br>
            
            <p style="text-align: center; font-size: 20px;">  
            ({{ coil.motive }})
            </p>
            
            {% elif coil.status == "TO_BE_DESTROYED" %}
            <p style="text-align: center; font-size: 25px; margin-bottom : 0px; font-weight : bold;"> BOBINE A DETRUIRE </p></br>
            
            <p style="text-align: center; font-size: 20px; margin-top : 0px;">
            ({{ coil.motive|upper }})
            </p>
            {% endif %}
          <p style="text-align: center; font-size: 20px; font-weight : bold;">
            {% if coil.status == "TO_BE_DESTROYED" %}
            {% if coil.motive == "Impression" %}
             {{ coil.printer.first_name|upper }} {{ coil.printer.last_name|upper }}
            {% else %}
             {{ coil.user.first_name|upper }} {{ coil.user.last_name|upper }}
            {% endif %} 
            {% endif %}
          </p>
          <p style="text-align: center; margin-bottom : 0px; font-size: 20px; font-weight: bold">
            {{ coil.ref|upper }} </br>
          </p>
          <p style="text-align: center; margin-bottom : 0px; font-size: 20px;">
            {{ coil.type_coil|upper }} </br>
            {{ coil.weight }} Kg </br>
          </p>
        </div>
      </div>
  </body>
</html>
