<!DOCTYPE html>
{% load static %}
<style type="text/css">
@page {
        size: A6;
        margin: 0.4cm;
      }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Etiquette Bobine</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo_placement">
        <img alt="logo" src="{{company.logo.path}}" />
      </div>
      <div class="card">
        <div>
          <p style="text-align: center; font-weight : bold ;font-size: 25px;">
            {{ coil.ref|upper }} </br>
          </p>

          <p style="text-align: center; font-weight : bold ;font-size: 25px;">
            {{ coil.extrusion_machine.machine_type.name }} {{ coil.extrusion_machine.machine_number }} </br>
          </p>

          <p style="text-align: center; font-size: 20px;">
            {{ coil.type_coil|upper }} </br>
          </p>

          <p style="text-align: center; font-size: 25px;">
            {{ coil.weight }} Kg
          </p>
          
        </div>
      </div>
      
    </div>
  </body>
</html>
