<!DOCTYPE html>
{% load static %}
<style type="text/css">
@page {
        size: A6;
        margin: 0.4cm;
      }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Etiquette Bobine</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <div style="margin: auto;">
      <img src="https://chart.googleapis.com/chart?cht=qr&chl={{coil.ref}}&chs=160x160&chld=L|0" class="qr-code img-thumbnail img-responsive" />
  </div>
      <div class="card">

        <div>
          <p style="text-align: center; font-weight : bold ;font-size: 25px;">
            {{ coil.ref|upper }}
          </p>
          <p style="text-align: center; font-weight : bold ;font-size: 25px;">
            {{ coil.extrusion_machine.machine_type.name }} {{ coil.extrusion_machine.machine_number }}
          </p>
          <p style="text-align: center; font-size: 20px;">
            {{ coil.type_coil|upper }}
          </p>
          <p style="text-align: center; font-size: 25px;">
            {{ coil.weight }} Kg
          </p>
          
        </div>
      </div>
  </body>
</html>