{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Historique Bobines</h2>
    <h3 id = "totalweight"></h3>
  </div>


<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Opérateur Extrudeuse">
          </div>
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_printer" id="_id_printer" placeholder="Opérateur Impression">
          </div>
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_shaper" id="_id_shaper" placeholder="Opérateur Soudeuse">
          </div>
        </div>
        <div class="form-row mt-2 mb-2">
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_extrusion_machine" id="_id_extrusion_machine" placeholder="Extrudeuse">
          </div>
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_printing_machine" id="_id_printing_machine"  placeholder="Imprimeuse">
          </div>
          <div class="col-md-4">
            <input class="form-control p-2" type="search" name="_id_shaping_machine" id="_id_shaping_machine"  placeholder="Soudeuse">
          </div>
        </div>
        <hr/>
        <div class="form-row mt-2 mb-2">
        <div class="col-md-6 pt-2">
          &nbsp;	<input  type="checkbox" name="_printed" id="_printed" ><label for="_printed"> Imprimée</label>
          &nbsp;	<input  type="checkbox" name="_not_printed" id="_not_printed" ><label for="_not_printed"> Non Imprimée</label>
        </div>
        <div class="col-md-6 pt-2">
          &nbsp;	<input  type="checkbox" name="_defective" id="_defective" ><label for="_defective"> Bobines Défectueuses</label>
          &nbsp;	<input  type="checkbox" name="_normal" id="_normal" ><label for="_normal"> Bobines Normales</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input  type="checkbox" name="_external" id="_external" ><label for="_external"> Source Externe</label>
        </div>
        </div>
        <hr/>
        <div class="form-row mt-2 mb-2">
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_coil" id="_id_coil" placeholder="Bobine">
          </div>
          <div class="col-md-2">
          <input class="form-control" type="search"   name="_id_children_of" id="_id_children_of" placeholder="Bobine Mère">
        </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_weight" id="_id_weight" placeholder="Poids Bobine" step = '0.01'>
          </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_micronnage" id="_id_micronnage" placeholder="Micronnage" step = '0.01'>
          </div>
          <div class="col-md-1">
            <input class="form-control p-2" type="search" name="_id_cw1" id="_id_cw1" placeholder="PC1" step = '0.01'>
          </div>
          <div class="col-md-1">
            <input class="form-control p-2" type="search" name="_id_cw2" id="_id_cw2" placeholder="PC2" step = '0.01'>
          </div>
          <div class="col-md-1">
            <input class="form-control p-2" type="search" name="_id_cw3" id="_id_cw3" placeholder="PC3" step = '0.01'>
          </div>
          <div class="col-md-1">
            <input class="form-control p-2" type="search" name="_id_cwm" id="_id_cwm" placeholder="PC Moyen" step = '0.01'>
          </div>
        </div>
        
        <hr/>
        <div class="form-row mt-2 mb-2">
        <div class="col-md-12 pt-2">
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_in_stock" id="_in_stock" ><label for="_in_stock"> En Stock</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_pending_extrusion" id="_pending_extrusion" ><label for="_pending_extrusion"> En Extrusion</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_pending_printing" id="_pending_printing" ><label for="_pending_printing"> En Impression</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_pending_shaping" id="_pending_shaping" ><label for="_pending_shaping"> En Soudure</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_in_quarantine" id="_in_quarantine" ><label for="_in_quarantine"> En Quarantaine</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_consumed" id="_consumed" ><label for="_consumed"> Consommé</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_sold" id="_sold" ><label for="_sold"> Vendue</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_cut" id="_cut" ><label for="_cut"> Coupée</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_derived" id="_derived" ><label for="_derived"> Dérivée</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_destroyed" id="_destroyed" ><label for="_destroyed"> Détruite</label>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;	<input  type="checkbox" name="_not_destroyed" id="_not_destroyed" ><label for="_not_destroyed"> En Attente</label>
        </div>
        </div>
<!--  -->
      <hr/>
<!--  -->
      <div class="form-row mt-2 mb-2">
        <label style="font-weight: bold;"> Création </label>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="creation_date_min" id="creation_date_min" >
        </div>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="creation_date_max" id="creation_date_max">
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <label style="font-weight: bold;"> Impression </label>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="printing_date_min" id="printing_date_min" >
        </div>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="printing_date_max" id="printing_date_max">
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <label style="font-weight: bold;"> Façonnage </label>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="shaping_date_min" id="shaping_date_min" >
        </div>
        <div class="col-md-1">
          <input class="form-control" type="date"   name="shaping_date_max" id="shaping_date_max">
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <label style="font-weight : bold;"> Nombre de Bobines :</label> {{object_list.count}} <br>
  <label style="font-weight : bold;"> Poids Total :</label> {{total}} Kg
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          {% if request.user.profile.job_position.name == "Administrateur" %} <th style="width:5%">Ticket</th> {% endif %}
          <th style="width:5%">ID</th>
          <th style="width:5%">Date De Création</th>
          <th style="width:5%">Opérateur/Source</th>
          <th style="width:5%">Introducteur D'informations</th>
          <th style="width:5%">Extrudeuse</th>
          <th style="width:5%">Poids</th>
          <th style="width:5%">Micronnage</th>
          <th style="width:5%">Micronnage Impression</th>
          <th style="width:5%">Impression</th>
          <th style="width:5%">Date Impression</th>
          <th style="width:5%">Opérateur Impression</th>
          <th style="width:5%">Imprimeuse</th>
          <th style="width:5%">Date Soudure</th>
          <th style="width:5%">Opérateur Soudure</th>
          <th style="width:5%">Soudeuse</th>
          <th style="width:5%">P.C 1</th>
          <th style="width:5%">P.C 2</th>
          <th style="width:5%">P.C 3</th>
          <th style="width:5%">P.C M</th>
          <th style="width:5%">Déchet</th>
          <th style="width:5%">Anomalies</th>
          <th style="width:5%">Etat</th>
          <th style="width:5%">Date de Vente</th>
          <th style="width:5%">Client</th>
          <th style="width:5%">Situation</th>
          <th style="width:5%">Bobine Mère</th>
          <th style="width:5%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for coil in object_list %}
        <tr>
        {% if request.user.profile.job_position.name == "Administrateur" %}<td><a href = "{% url 'production:print-ticket' coil.slug %}" target = '_blank'><i class="fas fa-ticket-alt fa-2x text-muted"></i></a></td>{% endif %}
        <td>{% if request.user.profile.job_position.name == "Administrateur" %} <a href ="{{coil.get_coil_url}}" target = '_blank'>{{coil.product_designation }} {% else %} {{coil.product_designation }} {% endif %}</a></td>
            <td>{{coil.creation_date }}</td>
            <td>
                {% if coil.user is not None %}
                    {{coil.user.first_name}} {{coil.user.last_name}}
                {% else %}
                    {{coil.supplier}}
                {% endif %}
            </td>
            <td>
                {% if coil.user != coil.introducer %}
                    {{coil.introducer.first_name}} {{coil.introducer.last_name}}
                {% else %}
                    
                {% endif %}
            </td>
            <td>{% if coil.extrusion_machine is not None %} {{coil.extrusion_machine}} {% endif %}</td>
            <td>{{coil.weight}}</td>
            <td>{{coil.micronnage}}</td>
            <td>{{coil.micronnage_print}}</td>
            
            <td>{% if coil.printed is not None %}{{coil.get_printed_display}}{% endif %}</td>
            
            <td>{% if coil.printing_date is not None %} {{coil.printing_date}} {% endif %}</td>
            <td>{% if coil.printer is not None %} {{coil.printer.first_name}} {{coil.printer.last_name}}{% endif %}</td>
            <td>{% if coil.printing_machine is not None %} {{coil.printing_machine}} {% endif %}</td>
            <td>{% if coil.shaping_date is not None %} {{coil.shaping_date}} {% endif %}</td>
            <td>{% if coil.shaper is not None %} {{coil.shaper.first_name}} {{coil.shaper.last_name}} {% endif %}</td>
            <td>{% if coil.shaping_machine is not None %} {{coil.shaping_machine}} {% endif %}</td>
            <td>{{coil.cw1}}</td>
            <td>{{coil.cw2}}</td>
            <td>{{coil.cw3}}</td>
            <td>{{coil.cwm}}</td>
            <td>{{coil.trash}}</td>
            <td>{% if coil.destroyed is True %} {% elif coil.status == "QUARANTINE" %} En Quarantaine {% elif coil.status == "CUT"%} Coupée {% elif coil.status == "TO_BE_DESTROYED" %} A Détruire {% else %} {{coil.get_defective_display}} {% endif %}</td>
            <td>{% if coil.destroyed is not True %}{{coil.get_status_display}} {% else %} Détruite {% endif %}{% if coil.motive is not None%} :{{ coil.motive }} {% endif %} {% if coil.explanation is not None%} /{{ coil.explanation }} {% endif %}</td>
            <td>{% if coil.sale_date is not None %} {{ coil.sale_date }} {% endif %} </td>
            <td>{% if coil.client is not None %} {{ coil.client }} {% endif %} </td>
            <td>{% if coil.status == "TO_BE_DESTROYED" %} {% if coil.destroyed is True %} Détruite {% elif coil.destroyed is False %} En Attente De Destruction {% endif %} {% endif %} </td>
            <td>{% if coil.is_sub is True %} {{coil.parent.ref|upper}} {% endif %}</td>
            <td><a class="btn btn-md btn-red" href="{% url 'production:delete-coil' coil.ref %}">Supprimer</a></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune Bobine</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
