{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Problèmes Bobines</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:15%">Référence</th>
          <th style="width:25%">Bobine</th>
          <th style="width:10%">Poids</th>
          <th style="width:15%">Situation</th>
          <th style="width:5%">Motif</th>
          <th style="width:20%">Détail</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for coil in object_list %}
        <tr>
            <td>{{coil.ref}}</td>
            <td>{{coil.type_coil|upper}}</td>
            <td>{{coil.weight}}</td>
            <td>{% if coil.defective == "DEFECTIVE" %} Bobine Défectueuse {% elif coil.status == "QUARANTINE" %} En Quarantaine {% elif coil.status == "TO_BE_DESTROYED"%} A Détruire {% endif %}</td>
            <form method="POST">
              {% csrf_token %}
            <input type="hidden" value="{{ coil.slug }}" name="get_coil" />
            <td class="text-right">
            {% if coil.motive is None %}
            <select name="motive" id="motive">
              <option value="Micronnage">Micronnage</option>
              <option value="Pliage">Pliage</option>
              <option value="Impression">Impression</option>
              <option value="Statique">Statique</option>
              <option value="Autre">Autre</option>
            </select>
            {% else %}
            {{ coil.motive }}
            {% endif %}

            </td>
            <td class="text-right">
            {% if coil.explanation is None or coil.explanation == "" %}
              <input
                pattern=".{1,}"
                required="false"
                class="form-control form-control-sm"
                name="explanation"
                id="explanation"
                type="text"
              />
              {% else %}
            {{ coil.explanation }}
            {% endif %}
            </td>
            <td class="text-right">
            {% if coil.motive is None %}
              <button type="submit" class="btn btn-dark btn-sm float-left" >Valider</button>
            {% else %}
            {% if coil.status == "QUARANTINE" or coil.status == "TO_BE_DESTROYED" %}
              <a type="submit" class="btn btn btn-sm float-left" href="{% url 'production:print-issue-ticket' coil.slug %}" target="_blank">Imp. Etq</a>
            {% endif %}
            {% endif %}
              </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune bobine en attente</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
