{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Bobines En Extrusion</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:2%">#</th>
          <th style="width:10%">Référence</th>
          <th style="width:35%">Bobine</th>
          <th style="width:25%">Extrudeuse</th>
          <th style="width:10%">Mandrin</th>
          <th style="width:30%">Poids</th>
          <th style="width:10%">Micronnage</th>
          <th style="width:10%">Situation</th>
          <th style="width:10%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for coil in object_list %}
        <tr>
          
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{coil.ref}}</td>
            <td>{{coil.type_coil|upper}}</td>
            <td>{{coil.extrusion_machine.designation|upper}}</td>
            
            <form method="POST">
              {% csrf_token %}
            <td class="text-right">
            {% if coil.weight == 0 and coil.micronnage == 0 and coil.ext_validated is True %}
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="mandrel_weight"
                id="mandrel_weight"
                type="number"
                min="0"
                step="0.1"
              />
            {% endif %}
            </td>
            <td class="text-right">
            {% if coil.weight == 0 %}
            {% if coil.ext_validated is True %}
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="weight"
                id="weight"
                type="number"
                min="0"
                step="0.01"
              />
            {% else %}
            
            {% endif %}
            {% else %}
            {{ coil.weight }}
            {% endif %}
            <input type="hidden" value="{{ coil.slug }}" name="get_coil" />
            </td>
            <td class="text-right">
            {% if coil.micronnage == 0 %}
            {% if coil.ext_validated is True %}
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="micronnage"
                id="micronnage"
                type="number"
                min="0"
                step="0.01"
              />
            {% else %}

            {% endif %}
            {% else %}
            {{ coil.micronnage }}
            {% endif %}
            </td>
            <td class="text-right">
            {{coil.get_status_display}}
            </td>
            <td class="text-right">
            {% if coil.weight == 0 and coil.micronnage == 0 %}
            {% if coil.ext_validated is True %}
              <button type="submit" class="btn btn-dark btn-sm float-left" >Terminer</button>
            {% else %}

            {% endif %}
            {% else %}
            {% if coil.ticket_printed is True %}
            <a type="submit" class="btn btn- btn-sm float-left" href ="{% url 'production:print-ticket' coil.slug %}" target="_blank">Imp. Etq (déjà imprimée)</a>
            {% elif coil.ticket_printed is False %}
              <a type="submit" class="btn btn-sm" href ="{% url 'production:print-ticket' coil.slug %}" target="_blank"><i class="fas fa-qrcode fa-lg"></i></a>
              <a type="submit" class="btn btn-sm" href ="{% url 'production:print-ticket-no-qr' coil.slug %}" target="_blank">Imp. Etq</a>
            {% endif %}
            {% endif %}
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune bobine en attente</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
