{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Produit Fini</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
    <label>Gamme</label>
      <div class="col-md-3 mr-5">
      <select name="range" id="range">
        <option value=None>---------</option>
      {% for range in ranges %}
        <option value="{{range.slug}}">{{ range.name }}</option>
      {% endfor %}
      </select>
      </div>
      <label>Capacité</label>
      <div class="col-md-2 ">
      <select name="capacity" id="capacity">
        <option value=None>------</option>
        <option value="PM">Petit Modèle</option>
        <option value="MM">Moyen Modèle</option>
        <option value="GM">Grand Modèle</option>
      </select>
      </div>

      <label>Couleur</label>
      <div class="col-md-4">
      <select name="color" id="color">
        <option value=None>---------</option>
        {% for color in colors %}
        <option value="{{color.slug}}">{{color}}</option>
        {% endfor %}
      </select>
      </div>
      <p><br><br></p>
      <label>&nbsp;Lien</label>
      <div class="col-md-3">
      <select name="link" id="link">
        <option value=None>---------</option>
        <option value="AVEC_LIEN">Avec Lien</option>
        <option value="SANS_LIEN">Sans Lien</option>
      </select>
      </div>
      <label>Parfumé</label>
      <div class="col-md-3 ">
      <select name="perfume" id="perfume">
        <option value=None>---------</option>
        <option value="PERFUMED">Parfumé</option>
        <option value="NOT_PERFUMED">Non Parfumé</option>
      </select>
      </div>
      <label>Parfum</label>
      <div class="col-md-3 ">
      <select name="flavor" id="flavor">
        <option value=None>---------</option>
        {% for flavor in flavors %}
        <option value="{{flavor.slug}}">{{flavor}}</option>
        {% endfor %}
      </select>
      </div>
      <p><br><br></p>
      <div class="col-md-4 mb-3 produc-list-u">
        {{ form.product.label }}
        {{form.product}}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.machine.label }}
        {{form.machine}}
      </div>
      <div class="col-md-3 mb-3">
        {{ form.quantity_produced.label }}
        {{form.quantity_produced}}
      </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
