{% extends "base/base.html" %}
{% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Production</h1>

        <!--First row-->
        <div class="row mt-1">
            
            
            {% if request.user.profile.job_position.name == "Mélangeur" %}
            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'production:index-mixing' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-mortar-pestle fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Mélange</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            {% endif %}
            
            
            {% if request.user.profile.job_position.name == "Opérateur Extrusion" %}
            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'production:index-extrusion' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-database fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Extrusion</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            {% endif %}
            
            {% if request.user.profile.job_position.name == "Opérateur Impression" %}
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'production:index-printing' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-paint-roller fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Impression</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            {% endif %}
            
            
            {% if request.user.profile.job_position.name == "Opérateur Façonnage" %}
            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'production:index-shaping' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cut fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Soudure</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            {% endif %}
            

        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>


</div>

{% endblock content %}