{% include "base/base.html" %} {% block content %}

<div class="container my-5">

    <a class="btn" href="{% url 'production:recap-page' %}">Récapitulatif Journée</a>
    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Mélange</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:mixing-process' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Nouveau Mélange</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:mixing-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0">Mes Mélanges</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
</section>

</div>

{% endblock content %}