{% include "base/base.html" %} {% block content %}

<div class="container my-5">

    <a class="btn" href="{% url 'production:recap-page' %}">Récapitulatif Journée</a>
    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Impression</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:printing-process' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Nouvelle Impression</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:ink-consumption' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-fill-drip fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Consommation Encre</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
                        <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:printing-coil-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-spinner fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Bobines En Impression</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Déchet</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:trash-create' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Créer Déchet</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:trash-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-trash fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Mon Déchet</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Arrêt Machine</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!-- Card -->
                <a href="{% url 'production:machine-stop' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Nouvel Arrêt</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>
{% endblock %}
