{% include "base/base.html" %} {% block content %}

<div class="container my-5">

    <a class="btn" href="{% url 'production:recap-page' %}">Récapitulatif Journée</a>
    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Soudure</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:shaping-process' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Consommer Bobine</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:shaping-coil-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-spinner fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Bobines En Soudure</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'production:coil-issues' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-crosshairs fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Problèmes Bobines</h5>

                    </div>

                </a>
                <!-- Card -->
                <!--Grid column-->

            </div>
            <!--Grid column-->
            {% comment %} <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:shaping-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Consommations en Cours</h5>

                    </div>

                </a>
                <!-- Card -->
            <!--Grid column--> {% endcomment %}

            </div>
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Produits Finis</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:finishedproduct' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Ajouter Produit Fini</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:production-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-list fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Production En Attente</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>



<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Déchet</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:trash-create' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-plus fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Créer Déchet</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:trash-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-trash fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Déchet En Attente</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Arrêt Machine</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:machine-stop' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-stopwatch fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Nouvel Arrêt</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'production:machine-stop-list' %}" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-clock fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Mes Arrets</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>
{% endblock %}
