{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Consommation Encre</h2>
  </div>


<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_machine" id="_id_machine" placeholder="Machine">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_ink" id="_id_ink" placeholder="Encre">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2"  type="search" name="_quantity" id="_quantity" placeholder="Quantité">
          </div>
          <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
      </div>
<!--  -->
      
<!--  -->
<br>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <br>
  <label style="font-weight : bold;"> Poids Total Consommé :</label> {{total}}
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:15%">Date</th>
          <th style="width:20%">Utilisateur</th>
          <th style="width:25%">Encre</th>
          <th style="width:30%">Imprimante</th>
          <th style="width:10%">Quantité</th>
        </tr>
      </thead>
      <tbody>
        {% for cons in object_list %}
        <tr>
            <td>{{cons.date }}</td>
            <td>{{cons.user.first_name|upper}} {{cons.user.last_name|upper}} </td>
            <td>{{cons.ink.product_designation}}</td>
            <td>{{cons.machine.designation}}</td>
            <td>{{cons.quantity}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune Consommation Enregistrée</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
