{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Arrêts Machines</h2>
  </div>


<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_machine" id="_id_machine" placeholder="Machine">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2"  type="search" name="_id_duration" id="_id_duration" placeholder="Durée">
          </div>
          <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
      </div>
<!--  -->
      
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-12 pt-2">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_electrical_breakdown" id="_id_electrical_breakdown" ><label for="_id_electrical_breakdown">Panne Electrique</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_mechanical_breakdown" id="_id_mechanical_breakdown" ><label for="_id_mechanical_breakdown">Panne Mécanique</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_power" id="_id_power" ><label for="_id_power">Coupure De Courant</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_teflon" id="_id_teflon" ><label for="_id_teflon">Changement Téflon</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_filter" id="_id_filter" ><label for="_id_filter">Changement Filtre</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_blade" id="_id_blade" ><label for="_id_blade">Changement Lame</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_clean" id="_id_clean" ><label for="_id_clean">Nettoyage</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<input  type="checkbox" name="_id_other" id="_id_other" ><label for="_id_other">Autre</label>
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <label style="font-weight : bold;"> Temps D'Arrêt Total :</label> {{total_h}}h{{total_m}}m
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:15%">Date</th>
          <th style="width:15%">Utilisateur</th>
          <th style="width:20%">Machine</th>
          <th style="width:15%">Temps D'Arrêt</th>
          <th style="width:20%">Cause</th>
          <th style="width:15%">Commentaire</th>
        </tr>
      </thead>
      <tbody>
        {% for stop in object_list %}
        <tr>
            <td>{{stop.date }}</td>
            <td>{{stop.user.first_name}} {{stop.user.last_name}} </td>
            {% comment %} <td><a href = "{% url 'stock-manager:invoice' production.slug %}" target ="_blank">{{production.slug}}</a></td> {% endcomment %}
            <td>{{stop.machine}}</td>
            <td>{% if stop.hours != 0 %} {{stop.hours}}h{% endif %}{{stop.minutes}}m</td>
            <td>{{stop.get_cause_display}}</td>
            <td>{% if stop.comment is not None %} {{stop.comment}} {% endif %}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun Arrêt Enregistré</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
