{% extends "base/base.html" %} {% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center mb-4">
    <h2>Rapport</h2>
  </div>
  <br>
  <form method="get" action = "{% url 'production:mini-reporting' %}" target = "_blank">
    <div class="form-row mt-2 mb-2">
      {% csrf_token %}
      <div class="col-md-5">
        <input class="form-control" type="date"   name="from" id="from" >
      </div>
      <div class="col-md-5">
        <input class="form-control" type="date"   name="to" id="to" >
      </div>
      <div class="col-md-1 ml-4">
      <button type="submit" class="btn btn-dark btn-sm float-left mt-0">Valider</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}