{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Mélanges</h2>
  </div>


<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Opérateur">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_ref" id="_ref"  placeholder="Référence">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_machine" id="_id_machine" placeholder="Machine">
          </div>
          <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
          </div>
          <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
      </div>
<!--  -->
      
<!--  -->
      <div class="form-row mt-2 mb-2">
        
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <p style = "font-weight: bold;">Total: {{ total_weight }} Kg</p>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:10%">Date</th>
          <th style="width:10%">Utilisateur</th>
          <th style="width:10%">Référence</th>
          <th style="width:10%">Matière Première</th>
          <th style="width:10%">Quantité</th>
          <th style="width:10%">Machine</th>
          {% if request.user.profile.job_position.name == "Administrateur" %} <th style="width:10%">Action</th>{% endif %}
        </tr>
      </thead>
      <tbody>
        {% for mixing in object_list %}
        <tr>
            <td>{{ mixing.ordered_date }}</td>
            <td>{{mixing.user.first_name}} {{mixing.user.last_name}}</td>
            {% comment %} <td><a href = "{% url 'stock-manager:invoice' production.slug %}" target ="_blank">{{production.slug}}</a></td> {% endcomment %}
            <td>{{mixing.ref_code}}</td>
            <td>{% for item in mixing.items.all %}{{item.item.product_designation}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p><br><p style = "font-weight: bold;">Valeur:</p></td>
            <td>{% for item in mixing.items.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ mixing.get_total }}</p><br><p style = "font-weight: bold;">{{ mixing.get_amount }} DA</p></td>
            <td>{{mixing.machine}}</td>
            {% if request.user.profile.job_position.name == "Administrateur" %} <td><a class="btn btn-md btn-red" href= {{ mixing.get_delete_url }}>Supprimer</a></td>{% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun Mélange</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
