{% extends "base/base.html" %} {% block content %}

<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2 class="mb-4">Enregistrements</h2>
  </div>



<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_client" id="_id_client"  placeholder="Client">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2"  type="search" name="_id_supplier" id="_id_supplier" placeholder="Fournisseur">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_intern_user" id="_id_intern_user" placeholder="Opérateur">
        </div>
      </div>
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-3">
          <input class="form-control p-2" type="search" id="_id_company" name="_id_company" placeholder="Entreprise">
        </div>
        <div class="col-md-3">
          <input class="form-control p-2" type="search" name="_ref" id="_ref" placeholder="Référence">
        </div>
        <div class="col-md-2">
          <input class="form-control p-2" type="search" name="_category" id="_category" placeholder="Catégorie">
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
      </div>
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-3 pt-2">
          &nbsp;	&nbsp;	<input  type="checkbox" name="_internal" id="_internal" ><label for="_internal">Sortie Interne</label>
          &nbsp;	&nbsp;	<input  type="checkbox" name="_external" id="_external" ><label for="_external">Sortie Externe</label>
          </div>
        <div class="col-md-3 pt-2">
          &nbsp;	&nbsp;	<input  type="checkbox" name="_is_ordered" id="_is_ordered" ><label for="_is_ordered">Validée</label>
          &nbsp;	&nbsp;	<input  type="checkbox" name="_is_not_ordered" id="_is_not_ordered" ><label for="_is_not_ordered">En Attente</label>
        </div>
        <div class="col-md-3 pt-2">
          &nbsp;	&nbsp;	<input  type="checkbox" name="_stock_entry" id="_stock_entry" ><label for="_stock_entry">Entrée</label>
          &nbsp;	&nbsp;	<input  type="checkbox" name="_stock_out" id="_stock_out" ><label for="_stock_out">Sortie</label>
          &nbsp;	&nbsp;	<input  type="checkbox" name="_stock_return" id="_stock_return" ><label for="_stock_retirn">Retour</label>
        </div>
        
        <div class="col-md-3 pt-2">
          &nbsp;	&nbsp;	<input  type="checkbox" name="_external_stock" id="_external_stock" ><label for="_external_stock">Stock Externe</label>
          &nbsp;	&nbsp;	<input  type="checkbox" name="_internal_stock" id="_internal_stock" ><label for="_internal_stock">Stock Interne</label>
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <p style = "font-weight: bold;">Total: {{ total }}</p>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:15%">Date</th>
          <th style="width:20%">Utilisateur</th>
          <th style="width:20%">Référence</th>
          <th style="width:20%">Mouvement</th>
          <th style="width:20%">Stock</th>
          <th style="width:20%">Détail</th>
          <th style="width:10%">Quantité</th>
          <th style="width:10%">Catégorie</th>
          <th style="width:25%">Fournisseur/Destination</th>
          <th style="width:25%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for order in object_list %}
        <tr>
            <td>{{order.ordered_date}}</td>
            <td>{{order.user.first_name}} {{order.user.last_name}}</td>
            <td><a href = "{% url 'stock-manager:invoice' order.slug %}" target ="_blank">{{order.slug}}</a></td>
            <td>{{order.get_type_order_display}}</td>
            <td>
            {% if order.external_stock is True %}
              <p style = "color : red;">Stock Externe</p>
            {% else %}
              Stock Interne
            {% endif %}
            
            </td>
            {% if order.category == "Matière Première" or order.category == "Produit Fini" %}
            <td>{% for item in order.items.all %} {{item.item.product_designation}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.items.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% elif order.category == "Cordon" %}
            <td>{% for item in order.handles.all %} {{item.item}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.handles.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% elif order.category == "Pièce de Rechange" %}
            <td>{% for item in order.parts.all %} {{item.item}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.parts.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% elif order.category == "Labelling" %}
            <td>{% for item in order.labellings.all %} {{item.item}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.labellings.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% elif order.category == "Emballage" %}
            <td>{% for item in order.packages.all %} {{item.item}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.packages.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% elif order.category == "Scotch" %}
            <td>{% for item in order.tapes.all %} {{item.item}}<br>{% endfor %}<p style = "font-weight: bold;">Total:</p></td>
            <td>{% for item in order.tapes.all %}{{item.quantity}}<br>{% endfor %}<p style = "font-weight: bold;">{{ order.get_total }}</p></td>
            {% endif %}
            
            <td>{{order.category}}</td>
            <td>{% if order.supplier is not None %} {{order.supplier.first_name}} {{order.supplier.last_name}}
                {% elif order.client is not None %} {{order.client.first_name}} {{order.client.last_name}}
                {% elif order.company is not None %} {{order.company}}
                {% elif order.intern_user is not None %} {{order.intern_user.first_name}} {{order.intern_user.last_name}}
                {% endif %}
            </td>
            {% if request.user.profile.job_position.name == "Administrateur" %} <td>{% if order.type_order != "STOCK_RETURN" %}<a class="btn btn-md btn-red" href= {{ order.get_delete_url }}>Supprimer</a> {% endif %}</td>{% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun Enregistrements Trouvées</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
