{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Maintenance</h2>
  </div>

<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2"  type="search" name="_id_part_ref" id="_id_part_ref" placeholder="Référence Pièce">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2"  type="search" name="_id_part_name" id="_id_part_name" placeholder="Désignation Pièce">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2" type="search" name="_id_machine" id="_id_machine" placeholder="Machine">
          </div>
          <div class="col-md-1">
            <input class="form-control p-2"  type="search" name="_id_quantity" id="_id_quantity" placeholder="Quantité">
          </div>
          <div class="col-md-12 pt-2">
          <input  type="checkbox" name="_preventive" id="_preventive" ><label for="_preventive"> Maintenance Préventive</label>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
          <input  type="checkbox" name="_corrective" id="_corrective" ><label for="_corrective"> Maintenance Corrective</label>
          </div>
      </div>
<!--  -->
      
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:12%">Date</th>
          <th style="width:13%">Utilisateur</th>
          <th style="width:10%">Référence</th>
          <th style="width:17%">Désignation</th>
          <th style="width:20%">Machine</th>
          <th style="width:18%">Maintenance</th>
          <th style="width:10%">Nombre de Pièces</th>
        </tr>
      </thead>
      <tbody>
        {% for part in object_list %}
        <tr>
            <td>{{part.date }}</td>
            <td>{% if part.user is not None %} {{part.user.first_name}} {{part.user.last_name}} {% endif %} </td>
            <td>{{part.part.ref}}</td>
            <td>{{part.part.name}}</td>
            <td>{{part.machine}}</td>
            <td>{{part.get_intervention_type_display}}</td>
            <td>{{part.quantity}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune Pièce Consommée</td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
