<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Récapitulatif</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
      @page {
        size: A4;
        margin: 0.5cm;
      }
      .table,
      td,
      th {
        text-align: left;
        height: 0.8cm !important;
      }

      .table {
        border-collapse: collapse;
        width: 100%;
      }

      .td {
        word-break: inherit;
      }
      .company-info,
      .user-info {
        text-align: left;
        line-height: normal !important;
        padding-top: -10px !important;
      }

      .table1 {
        width: 100%;
        max-width: 100%;
        {% comment %} margin-bottom: 25px; {% endcomment %}
        border: none;
      }

      .table1 td {
        border: none;
      }
      .logo_placement {
        width: 8cm !important;
        margin-left: 0cm !important;
        text-align: left !important;
        {% comment %} margin-bottom: 0.75cm !important; {% endcomment %}
      }
      .order-content th {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        /* height: 0.8cm !important; */
        padding-top: 2px !important;
      }
      .order-content td {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        /* height: 1cm !important; */
        padding-top: 2px !important;

      }
      .order-item td {
        padding-top: 2px !important;
        /* height: 1cm !important; */
        margin-top: 0.2cm !important;
      }
      p {
        font-size: 12px !important;
      }
      td,
      th {
        font-size: 12px !important;
      }
      .signature {
        border:none !important;
        margin-bottom:5cm !important;
      }
      .signature p {
        text-decoration: underline;
        font-weight: bold;
        text-align: right;
        {% comment %} margin-top: 3cm; {% endcomment %}
        margin-right: 3cm;
      }
      .order-content{
        margin-bottom: 1cm !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo_placement">
        <img alt="logo" src="{{company.logo.path}}" />
      </div>
        <hr>
        {% if type == "Ventes" %}
        <h1 style="text-align: center; font-size: 30px; margin-top : 25px; margin-bottom : 0px;">Fiche Des Ventes</h1>
        {% else %}
        <h1 style="text-align: center; font-size: 30px; margin-top : 25px; margin-bottom : 0px;">Fiche De Production</br>({{type}})</h1>
        {% endif %}
        <hr>
      </div>
      {% if type == "Extrusion" %}
      <div class="card">
      
      <div>
      <h2>
      <strong>Date </strong>: {{ start_time|date:'d-M-Y' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ start_time|date:'H:i' }} - {{ finish_time|date:'H:i' }}
      </h2>
        <h1 style="margin-bottom : 5px;">Opérateur &nbsp;:&nbsp;{{ user.first_name|upper }} {{ user.last_name|upper }}</h1>
      </div>
      <hr>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 3%;">#</th>
              <th style="width: 50%; text-size : 10px;">Bobine</th>
              <th style="width: 9%;">Poids</th>
              <th style="width: 14%;">Micronnage</th>
              <th style="width: 19%;">Extrudeuse</th>
              <th style="width: 10%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for coil in coil_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ coil.product_designation }}</td>
              <td>{{ coil.weight }}</td>
              <td>{{ coil.micronnage }}</td>
              <td>{{ coil.extrusion_machine.designation }}</td>
              <td>{{ coil.get_status_display }}</td>
              

            </tr>
            {% endfor %}
          <h1 style="text-align: center;">
          <strong>Bobines Produites</strong>
          </h1>
            <h2 style="text-align: left;">
          <strong>Poids Total </strong>: {{ coil_total|floatformat:1}} Kg
          </h2>

          </tbody>
        </table>

        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 3%;">#</th>
              <th style="width: 50%; text-size : 10px;">Bobine</th>
              <th style="width: 9%;">Poids</th>
              <th style="width: 14%;">Micronnage</th>
              <th style="width: 19%;">Extrudeuse</th>
              <th style="width: 10%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for previous_coil in previous_coil_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ previous_coil.product_designation }}</td>
              <td>{{ previous_coil.weight }}</td>
              <td>{{ previous_coil.micronnage }}</td>
              <td>{{ previous_coil.extrusion_machine.designation }}</td>
              <td>{{ previous_coil.get_status_display }}</td>
              

            </tr>
            {% endfor %}
          </tbody>
        </table>


        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 50%; text-size : 10px;">Bobine</th>
              <th style="width: 15%;">Poids</th>
              <th style="width: 20%;">Imprimante</th>
              <th style="width: 10%;">Etat</th>
              
            </tr>
          </thead>
          <tbody>
            {% for printed_coil in printed_coil_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ printed_coil.product_designation }}</td>
              <td>{{ printed_coil.weight }}</td>
              <td>{{ printed_coil.printing_machine.designation }}</td>
              <td>{{ printed_coil.get_status_display }}</td>
            </tr>
            {% endfor %}
          <h1 style="text-align: center;">
          <strong>Bobines Imprimées</strong>
          </h1>
            <h2 style="text-align: left;">
          <strong>Poids Total </strong>: {{ printed_coil_total|floatformat:1}} Kg
          </h2>

          </tbody>
        </table>

        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 20%;">Déchet</th>
              <th style="width: 20%;">Type</th>
              <th style="width: 15%;">Poids</th>
              <th style="width: 30%;">Extrudeuse</th>
              <th style="width: 10%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for trash in trash_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ trash.ref }}</td>
              <td>{{ trash.get_trash_type_display }}</td>
              <td>{{ trash.weight }}</td>
              <td>{{ trash.machine.designation }}</td>
              <td>{{ trash.get_state_display }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Déchet</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Poids Déchets </strong>: {{ trash|floatformat:1}} Kg
          </h2>
          
          </tbody>
        </table>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 25%;">Heure</th>
              <th style="width: 15%;">Durée (Minutes)</th>
              <th style="width: 17%;">Motif</th>
              <th style="width: 17%;">Commentaire</th>
              <th style="width: 21%;">Extrudeuse</th>
            </tr>
          </thead>
          <tbody>
            {% for stop in stop_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ stop.date }}</td>
              <td>{{ stop.duration }}</td>
              <td>{{ stop.get_cause_display }}</td>
              <td>{{ stop.comment }}</td>
              <td>{{ stop.machine.designation }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Arrêts</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Temps D'Arrêt </strong>: {{ stop}} Minutes
          </h2>
          
          </tbody>
        </table>
      </div>
      <table class="signature">
        <thead>
          <tr>
            <th style="text-align: right; text-decoration:underline;">Signature</th>
          </tr>
        </thead>
        </table>
      </div>
    </div>
    {% elif type == "Façonnage" %}
    <div class="card">
      <div>
      <h2>
      <strong>Date </strong>: {{ start_time|date:'d-M-Y' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ start_time|date:'H:i' }} - {{ finish_time|date:'H:i' }}
      </h2>
        <h1 style="margin-bottom : 5px;">Opérateur &nbsp;:&nbsp;{{ user.first_name|upper }} {{ user.last_name|upper }}</h1>
      </div>
      <hr>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 3%;">#</th>
              <th style="width: 50%;">Bobine</th>
              <th style="width: 9%;">Poids</th>
              <th style="width: 14%;">Micronnage</th>
              <th style="width: 19%;">Soudeuse</th>
              <th style="width: 10%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for coil in coil_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ coil.product_designation }}</td>
              <td>{{ coil.weight }}</td>
              <td>{{ coil.micronnage }}</td>
              <td>{{ coil.shaping_machine.designation }}</td>
              <td>{{ coil.get_status_display }}</td>
            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Bobines</strong>
          </h1>
            <h2 style="text-align: left;">
          <strong>Poids Total </strong>: {{ coil_total|floatformat:1}} Kg
          </h2>
            
          </tbody>
        </table>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 55%;">Bobine</th>
              <th style="width: 10%;">P.C 1</th>
              <th style="width: 10%;">P.C 2</th>
              <th style="width: 10%;">P.C 3</th>
              <th style="width: 10%;">P.C M</th>
            </tr>
          </thead>
          <tbody>
            {% for coil in coil_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ coil.product_designation }}</td>
              <td>{{ coil.cw1 }}</td>
              <td>{{ coil.cw2 }}</td>
              <td>{{ coil.cw3 }}</td>
              <td>{{ coil.cwm }}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
        <hr>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 45%;">Produit</th>
              <th style="width: 18%;">Nombre De Colis</th>
              <th style="width: 24%;">Soudeuse</th>
              <th style="width: 18%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for production in production_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ production.product.product_designation }}</td>
              <td>{{ production.quantity_produced }}</td>
              <td>{{ production.machine.designation }}</td>
              <td>{{ production.get_state_display }}</td>
            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Production</strong>
          </h1>
            <h2 style="text-align: left;">
          <strong>Nombre De Colis </strong>: {{ production}}
          </h2>
            
          </tbody>
        </table>


        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 75%;">Produit</th>
              <th style="width: 20%;">Nombre De Colis</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            {% if product.calculated_quantity_produced != 0 %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ product.product_designation }}</td>
              <td>{{ product.calculated_quantity_produced }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Total Par Produit</strong>
          </h1>
            
          </tbody>
        </table>


        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 20%;">Déchet</th>
              <th style="width: 20%;">Type</th>
              <th style="width: 15%;">Poids</th>
              <th style="width: 30%;">Soudeuse</th>
              <th style="width: 10%;">Etat</th>
            </tr>
          </thead>
          <tbody>
            {% for trash in trash_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ trash.ref }}</td>
              <td>{{ trash.get_trash_type_display }}</td>
              <td>{{ trash.weight }}</td>
              <td>{{ trash.machine.designation }}</td>
              <td>{{ trash.get_state_display }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Déchet</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Poids Déchets </strong>: {{ trash|floatformat:1}} Kg
          </h2>
          
          </tbody>
        </table>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 25%;">Heure</th>
              <th style="width: 15%;">Durée (Minutes)</th>
              <th style="width: 17%;">Motif</th>
              <th style="width: 17%;">Commentaire</th>
              <th style="width: 21%;">Soudeuse</th>
            </tr>
          </thead>
          <tbody>
            {% for stop in stop_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ stop.date }}</td>
              <td>{{ stop.duration }}</td>
              <td>{{ stop.get_cause_display }}</td>
              <td>{{ stop.comment }}</td>
              <td>{{ stop.machine.designation }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Arrêts</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Temps D'Arrêt </strong>: {{ stop}} Minutes
          </h2>
          
          </tbody>
        </table>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 40%;">Cordon</th>
              <th style="width: 40%;">Machine</th>
              <th style="width: 15%;">Nombre De Rouleaux</th>
            </tr>
          </thead>
          <tbody>
            {% for h_cons in handle_consumption_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ h_cons.handle.designation }}</td>
              <td>{{ h_cons.machine.designation }}</td>
              <td>{{ h_cons.quantity }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Consommation Cordon</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Nombre De Rouleaux </strong>: {{ handle_consumption }}
          </h2>
          
          </tbody>
        </table>
          
          </tbody>
        </table>
      </div>
      <table class="signature">
        <thead>
          <tr>
            <th style="text-align: right; text-decoration:underline;">Signature</th>
          </tr>
        </thead>
        </table>
      </div>
    </div>
    {% elif type == "Mélange" %}
    <div class="card">
      <div>
      <h2>
      <strong>Date </strong>: {{ start_time|date:'d-M-Y' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ start_time|date:'H:i' }} - {{ finish_time|date:'H:i' }}
      </h2>
        <h1 style="margin-bottom : 5px;">Opérateur &nbsp;:&nbsp;{{ user.first_name|upper }} {{ user.last_name|upper }}</h1>
      </div>
      <hr>
      <h1 style="text-align: center;">
          <strong>Réceptions Matière Première</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Total </strong>: {{ orders_total }}
          </h2>
          </tbody>
      {% for order in orders %}
          <h1 style="text-align: center;">
          <strong>{{order.ref_code}}</strong>
          </h1>
      <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 80%;">Matière Première</th>
              <th style="width: 20%;">Quantité (sac)</th>
            </tr>
          </thead>
          <tbody>
          {% for item in order.items.all %}
            <tr class="order-item">
              <td>{{ item.item.product_designation|upper }}</td>
              <td>{{ item.quantity }}</td>
            </tr>
          {%endfor%}
            
            </table>
            {% endfor %}

          
          <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 60%;">Matière Première</th>
              <th style="width: 20%;">Quantité Mélangée</th>
              <th style="width: 20%;">Stock L'Atelier</th>
            </tr>
          </thead>
          <tbody>
            {% for rawmatter in raw_matters %}
            <tr class="order-item">
              <td>{{ rawmatter.product_designation }}</td>
              <td>{{ rawmatter.calculated_quantity_consumed }}</td>
              <td>{{ rawmatter.quantity_workshop }}</td>

            </tr>
            {% endfor %}
          <h1 style="text-align: center;">
          <strong>Récapitulatif</strong>
          </h1>
          </tbody>
        </table>
        </table>
        {% for order in order_list %}
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 80%;">Matière</th>
              <th style="width: 20%;">Quantité</th>
            </tr>
          </thead>
          <tbody>
          {% for item in order.items.all %}
            <tr class="order-item">
              <td> {{ item.item.product_designation }}</td>
              <td> {{ item.quantity }}</td>
            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Mélange N° {{ order.ref_code}}</strong>
          </h1>
            <h2 style="text-align: left;">
          <strong>Machine </strong>: {{ order.machine}}<br>
          <strong>Poids </strong>: {{ order.get_total}} Kg
          </h2>
            
          </tbody>
        </table>
        {% endfor %}
        
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 5%;">#</th>
              <th style="width: 25%;">Heure</th>
              <th style="width: 15%;">Durée (Minutes)</th>
              <th style="width: 17%;">Motif</th>
              <th style="width: 17%;">Commentaire</th>
              <th style="width: 21%;">Mélangeur</th>
            </tr>
          </thead>
          <tbody>
            {% for stop in stop_list %}
            <tr class="order-item">
              <td>{{ forloop.counter }}</td>
              <td>{{ stop.date }}</td>
              <td>{{ stop.duration }}</td>
              <td>{{ stop.get_cause_display }}</td>
              <td>{{ stop.comment }}</td>
              <td>{{ stop.machine.designation }}</td>

            </tr>
            {% endfor %}
            <h1 style="text-align: center;">
          <strong>Arrêts</strong>
          </h1>
          <h2 style="text-align: left;">
          <strong>Temps D'Arrêt </strong>: {{ stop}} Minutes
          </h2>
          
          </tbody>
        </table>

      </div>
      <table class="signature">
        <thead>
          <tr>
            <th style="text-align: right; text-decoration:underline;">Signature</th>
          </tr>
        </thead>
        </table>
      </div>
    </div>
    {% endif %}
  </body>
</html>