<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="UTF-8" />
    <title>Rapport De Production</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
      @page {
        size: A4;
        margin: 0.5cm;
      }
      .table,
      td,
      th {
        text-align: left;
        height: 0.8cm !important;
      }

      .table {
        border-collapse: collapse;
        width: 100%;
      }

      .td {
        word-break: inherit;
      }
      .company-info,
      .user-info {
        text-align: left;
        line-height: normal !important;
        padding-top: -10px !important;
      }

      .table1 {
        width: 100%;
        max-width: 100%;
        border: none;
      }

      .table1 td {
        border: none;
      }
      .logo_placement {
        width: 8cm !important;
        margin-left: 0cm !important;
        text-align: left !important;
        {% comment %} margin-bottom: 0.75cm !important; {% endcomment %}
      }
      .order-content th {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        /* height: 0.8cm !important; */
        padding-top: 2px !important;
      }
      .order-content td {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        /* height: 1cm !important; */
        padding-top: 2px !important;

      }
      .order-item td {
        padding-top: 2px !important;
        /* height: 1cm !important; */
        margin-top: 0.2cm !important;
      }
      p {
        font-size: 12px !important;
      }
      td,
      th {
        font-size: 12px !important;
      }
      .signature {
        border:none !important;
        margin-bottom:5cm !important;
      }
      .signature p {
        text-decoration: underline;
        font-weight: bold;
        text-align: right;
        {% comment %} margin-top: 3cm; {% endcomment %}
        margin-right: 3cm;
      }
      .order-content{
        margin-bottom: 1cm !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo_placement">
        <img alt="logo" src="{{company.logo.path}}" />
      </div>
        <hr>
        <h1 style="text-align: center; font-size: 30px; margin-top : 25px; margin-bottom : 0px;">Rapport De Production</br>({{start_date|date:'d/M/Y'}} - {{end_date|date:'d/M/Y'}})</h1>
        <hr>
      </div>



      <div class="card">
      <hr>
      <h1 style="text-align: center;">
          <strong>Matière Première</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 72%;">Matière Première</th>
              <th style="width: 12%;">Consommation (Kg)</th>
              <th style="width: 12%;">Achat (Sac)</th>
              <th style="width: 12%;">Stock Principal (Sac)</th>
              <th style="width: 12%;">Stock Atelier (Kg)</th>
            </tr>
          </thead>
          <tbody>
            {% for raw in raw_matters %}
            <tr class="order-item">
              <td>{{ raw.product_designation }}</td>
              <td>{{ raw.calculated_quantity_consumed}}</td>
              <td>{{ raw.calculated_quantity_brought}}</td>
              <td>{{ raw.quantity}}</td>
              <td>{{ raw.quantity_workshop}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

            <div class="card">
      <hr>
      <h1 style="text-align: center;">
          <strong>Récapitulatif Matière Première</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 52%;">Matière Première</th>
              <th style="width: 12%;">Mélange (Kg)</th>
              <th style="width: 12%;">Achat (Sac)</th>
              <th style="width: 12%;">Stock (Sac)</th>
              <th style="width: 12%;">Atelier (Kg)</th>
            </tr>
          </thead>
          <tbody>
            {% for cr in matter_combined_ranges %}
            <tr class="order-item">
              <td>{{ cr|upper }}</td>
              <td>{{ cr.calculated_matter_mixed}}</td>
              <td>{{ cr.calculated_matter_bought}}</td>
              <td>{{ cr.calculated_main_stock}}</td>
              <td>{{ cr.calculated_workshop_stock}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>



      <div class="card">
      <h1 style="text-align: center;">
          <strong>Emballage</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 45%;">Emballage</th>
              <th style="width: 15%;">Consommation</th>
              <th style="width: 15%;">Achat</th>
              <th style="width: 10%;">Stock</th>
              <th style="width: 15%;">Stock Atelier</th>
            </tr>
          </thead>
          <tbody>
            {% for package in packages %}
            <tr class="order-item">
              <td>{{ package }}</td>
              <td>{{ package.calculated_quantity_consumed }}</td>
              <td>{{ package.calculated_quantity_brought }}</td>
              <td>{{ package.quantity}}</td>
              <td>{{ package.quantity_workshop}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>


     
      <div class="card">
      <h1 style="text-align: center;">
          <strong>Pièces de Rechanges</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 20%;">Référence</th>
              <th style="width: 35%;">Désignation</th>
              <th style="width: 15%;">Achat</th>
              <th style="width: 15%;">Consommation</th>
              <th style="width: 15%;">Stock</th>
            </tr>
          </thead>
          <tbody>
            {% for part in parts %}
            <tr class="order-item">
              <td>{{ part.ref }}</td>
              <td>{{ part.name }}</td>
              <td>{{ part.calculated_quantity_brought }}</td>
              <td>{{ part.calculated_quantity_consumed }}</td>
              <td>{{ part.quantity}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>



    
        <div class="card">
      <h1 style="text-align: center;">
          <strong>Bobines</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 45%;">Bobine</th>
              <th style="width: 20%;">Extrusion</th>
              <th style="width: 17%;">Façonnage</th>
              <th style="width: 18%;">Stock</th>
            </tr>
          </thead>
          <tbody>
            {% for coil in coils %}
            <tr class="order-item">
              <td>{{ coil.product_designation }}</td>
              <td>{{ coil.calculated_quantity_produced }} ({{ coil.calculated_weight_produced }})</td>
              <td>{{ coil.calculated_quantity_shaped }} ({{ coil.calculated_weight_shaped }})</td>
              <td>{{ coil.calculated_quantity_stock }} ({{ coil.calculated_weight_stock }})</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

        <div class="card">
      <h1 style="text-align: center;">
          <strong>Impression Bobines</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 45%;">-</th>
              <th style="width: 20%;">Nombre</th>
              <th style="width: 17%;">Poids</th>
              <th style="width: 18%;">Ratio</th>
            </tr>
          </thead>
          <tbody>
            <tr class="order-item">
              <td>Bobines Imprimées</td>
              <td>{{ printed_coils_number }}</td>
              <td>{{ printed_coils_weight }}</td>
              <td>{{ printed_coils_pourcentage|floatformat:0 }}%</td>
            </tr>
            <tr class="order-item">
              <td>Bobines Non Imprimées</td>
              <td>{{ not_printed_coils_number }}</td>
              <td>{{ not_printed_coils_weight }}</td>
              <td>{{ not_printed_coils_pourcentage|floatformat:0 }}%</td>
            </tr>

          </tbody>
        </table>
      </div>



    <div class="card">
      <h1 style="text-align: center;">
          <strong>Déchet</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total }} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 50%;">Type</th>
              <th style="width: 50%;">Poids</th>
            </tr>
          </thead>
          <tbody>
            <tr class="order-item">
              <td>Haute Densité</td>
              <td>{{ trash_high_weight|floatformat:1 }}</td>
            </tr>
            <tr class="order-item">
              <td>Basse Densité</td>
              <td>{{ trash_low_weight|floatformat:1 }}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="card">
      <h1 style="text-align: center;">
          <strong>Produit Fini</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 58%;">Produit</th>
              <th style="width: 12%;">Production</th>
              <th style="width: 12%;">Ventes</th>
              <th style="width: 9%;">Stock</th>
              <th style="width: 9%;">Stock Externe</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr class="order-item">
              <td>{{ product.product_designation }}</td>
              <td>{{ product.calculated_quantity_produced|floatformat:0}}</td>
              <td>{{ product.calculated_quantity_sold}}</td>
              <td>{{ product.quantity}}</td>
              <td>{{ product.external_quantity}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
 
    <div class="card">
      <h1 style="text-align: center;">
          <strong>Ventes Par Client</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 40%;">Client</th>
              <th style="width: 30%;">Nombre De Colis</th>
              <th style="width: 30%;">Poids Total</th>
            </tr>
          </thead>
          <tbody>
          {% for client in clients%}
          {% if client.calculated_number_sold != 0 %}
            <tr class="order-item">
              <td>{{ client.first_name|upper }} {{ client.last_name|upper }}</td>
              <td>{{ client.calculated_number_sold }}</td>
              <td>{{ client.calculated_weight_sold }}</td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
          
    <div class="card">
      <h1 style="text-align: center;">
          <strong>Extrudeuses</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 40%;">Extrudeuse</th>
              <th style="width: 20%;">Nombre de Bobines</th>
              <th style="width: 20%;">Poids des Bobines</th>
              <th style="width: 20%;">Déchet</th>
            </tr>
          </thead>
          <tbody>
          {% for machine in machines%}
          {% if machine.machine_type.name == "Extrudeuse" %}
            <tr class="order-item">
              <td>{{ machine.designation }}</td>
              <td>{{ machine.calculated_extrusion_number }}</td>
              <td>{{ machine.calculated_extrusion_weight }}</td>
              <td>{{ machine.calculated_trash_weight|floatformat:1 }}</td>
              
            </tr>
          {% endif %}
          {% endfor %}

          </tbody>
        </table>
      </div>


    <div class="card">
      <h1 style="text-align: center;">
          <strong>Imprimantes</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 40%;">Imprimante</th>
              <th style="width: 20%;">Nombre de Bobines</th>
              <th style="width: 20%;">Poids des Bobines</th>
              <th style="width: 20%;">Déchet</th>
            </tr>
          </thead>
          <tbody>
          {% for machine in machines%}
          {% if machine.machine_type.name == "Imprimeuse" %}
            <tr class="order-item">
              <td>{{ machine.designation }}</td>
              <td>{{ machine.calculated_printing_number }}</td>
              <td>{{ machine.calculated_printing_weight }}</td>
              <td>{{ machine.calculated_trash_weight|floatformat:1 }}</td>
            </tr>
          {% endif %}
          {% endfor %}

          </tbody>
        </table>
      </div>


    <div class="card">
      <h1 style="text-align: center;">
          <strong>Soudeuses</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 38%;">Soudeuse</th>
              <th style="width: 12%;">Nb Bobines</th>
              <th style="width: 14%;">Poids Bobines</th>
              <th style="width: 12%;">Nb Colis</th>
              <th style="width: 12%;">Poids Colis</th>
              <th style="width: 12%;">Déchet</th>
            </tr>
          </thead>
          <tbody>
          {% for machine in machines%}
          {% if machine.machine_type.name == "Soudeuse" %}
            <tr class="order-item">
              <td>{{ machine.designation }}</td>
              <td>{{ machine.calculated_shaping_number }}</td>
              <td>{{ machine.calculated_shaping_weight }}</td>
              <td>{{ machine.calculated_production_number }}</td>
              <td>{{ machine.calculated_production_weight }}</td>
              <td>{{ machine.calculated_trash_weight|floatformat:1 }}</td>
            </tr>
          {% endif %}
          {% endfor %}

          </tbody>
        </table>
      </div>

    
    <div class="card">
      <h1 style="text-align: center;">
          <strong>Opérateurs Extrusion/Impression</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 30%;">Opérateur</th>
              <th style="width: 14%;">Nombre Ext.</th>
              <th style="width: 14%;">Poids Ext.</th>
              <th style="width: 14%;">Nombre Imp.</th>
              <th style="width: 14%;">Poids Imp.</th>
              <th style="width: 14%;">Déchet</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users%}
          {% if user.job_position.name == "Opérateur Extrusion" %}
            <tr class="order-item">
              <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
              <td>{{ user.calculated_extrusion_number }}</td>
              <td>{{ user.calculated_extrusion_weight }}</td>
              <td>{{ user.calculated_printing_number }}</td>
              <td>{{ user.calculated_printing_weight }}</td>
              <td>{{ user.calculated_trash_weight|floatformat:1 }}</td>
            </tr>
          {% endif %}
          {% endfor %}
          {% for supplier in suppliers%}
          {% if supplier.calculated_extrusion_number != 0 or supplier.calculated_extrusion_weight != 0 %}
            <tr class="order-item">
              <td>{{ supplier }}</td>
              <td>{{ supplier.calculated_extrusion_number }}</td>
              <td>{{ supplier.calculated_extrusion_weight }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endif %}
          {% endfor %}
          <tr class="order-item">
              <td><h2>Total</h2></td>
              <td><h2>{{ coils_number }}</h2></td>
              <td><h2>{{ coils_weight|floatformat:1 }}</h2></td>
              <td><h2>{{ printed_coils_number }}</h2></td>
              <td><h2>{{ printed_coils_weight|floatformat:1 }}</h2></td>
              <td><h2>{{ total_trash|floatformat:1 }}</h2></td>
            </tr>
          </tbody>
        </table>
      </div>

    <div class="card">
      <h1 style="text-align: center;">
          <strong>Bobines Défectueuses</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 22%;">Opérateur</th>
              <th style="width: 15%;">Nombre Def.</th>
              <th style="width: 15%;">Poids Def.</th>
              <th style="width: 15%;">Nombre Quar.</th>
              <th style="width: 15%;">Poids Quar.</th>
              <th style="width: 15%;">Nombre Détr.</th>
              <th style="width: 15%;">Poids Détr.</th>              
            </tr>
          </thead>
          <tbody>
          {% for user in users%}
          {% if user.job_position.name == "Opérateur Extrusion" %}
            <tr class="order-item">
              <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
              <td>{{ user.calculated_defective_number }}</td>
              <td>{{ user.calculated_defective_weight|floatformat:1 }}</td>
              <td>{{ user.calculated_quarantine_number }}</td>
              <td>{{ user.calculated_quarantine_weight|floatformat:1 }}</td>
              <td>{{ user.calculated_destroy_number }}</td>
              <td>{{ user.calculated_destroy_weight|floatformat:1 }}</td>
            </tr>
          {% endif %}
          {% endfor %}
          {% for supplier in suppliers%}
          {% if supplier.calculated_defective_number or supplier.calculated_defective_weight != 0 or supplier.calculated_quarantine_number != 0 or supplier.calculated_quarantine_weight != 0 or supplier.calculated_destroy_number != 0 or supplier.calculated_destroy_weight != 0 %}
            <tr class="order-item">
              <td>{{ supplier }}</td>
              <td>{{ supplier.calculated_defective_number }}</td>
              <td>{{ supplier.calculated_defective_weight }}</td>
              <td>{{ supplier.calculated_quarantine_number }}</td>
              <td>{{ supplier.calculated_quarantine_weight }}</td>
              <td>{{ supplier.calculated_destroy_number }}</td>
              <td>{{ supplier.calculated_destroy_weight }}</td>
            </tr>
            {% endif %}
          {% endfor %}
            <tr class="order-item">
              <td><h2>Total</h2></td>
              <td><h2>{{ defective_coils_number_total }}</h2></td>
              <td><h2>{{ defective_coils_weight_total|floatformat:1 }}</h2></td>
              <td><h2>{{ quarantine_coils_number_total }}</h2></td>
              <td><h2>{{ quarantine_coils_weight_total|floatformat:1 }}</h2></td>
              <td><h2>{{ destroy_coils_number_total }}</td>
              <td><h2>{{ destroy_coils_weight_total|floatformat:1 }}</h2></td>
            </tr>
          </tbody>
        </table>
      </div>

    <div class="card">
      <h1 style="text-align: center;">
          <strong>Opérateurs Façonnage</strong>
          </h1>
            <h2 style="text-align: left;">
          {% comment %} <strong>Poids Total </strong>: {{ coil_total}} Kg {% endcomment %}
          </h2>
        <table class="table order-content">
          <thead>
            <tr>
              <th style="width: 30%;">Opérateur</th>
              <th style="width: 14%;">Nombre Soud.</th>
              <th style="width: 14%;">Poids Soud.</th>
              <th style="width: 14%;">Nbr. Colis</th>
              <th style="width: 14%;">Poids Colis</th>
              <th style="width: 14%;">Déchet</th>
            </tr>
          </thead>
          <tbody>
          {% for user in users%}
          {% if user.job_position.name == "Opérateur Façonnage" %}
            <tr class="order-item">
              <td>{{ user.user.first_name }} {{ user.user.last_name }}</td>
              <td>{{ user.calculated_shaping_number }}</td>
              <td>{{ user.calculated_shaping_weight }}</td>
              <td>{{ user.calculated_production_number }}</td>
              <td>{{ user.calculated_production_weight }}</td>
              <td>{{ user.calculated_trash_weight|floatformat:1 }}</td>
            </tr>
          {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>


      </div>
    </div>
      </div>
    </div>
  </body>
</html>
