{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Consommation Bobines</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
      <div class="col-md-5 mb-3 produc-list-u">
        <label class="mt-0 mb-0"> Référence Bobine</label>
        <input class="form-control mt-0" type="search" minlength="10" maxlength="10" name="_ref" id="_ref" placeholder="Référence de la bobine">
      </div>
      <div class="col-md-4 mb-3">
        {{ form.machine.label }}
        {{form.machine}}
      </div>
      <div class="col-md-3 mt-3">
      <button class="btn btn-outline-dark btn-md" type="submit">Valider</button>
      </div>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
