{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>Consommation Bobines</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
      <div class="col-md-12 mb-5">
        {{ form.user.label }}
        {{form.user}}
      </div>
      <div class="col-md-4 mb-3 produc-list-u">
        <label class="mt-0 mb-0"> Référence Bobine 1</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref" id="_ref" placeholder="Référence de la bobine 1" required>
      </div>
      <div class="col-md-4 mb-3 produc-list-u">  
        <label class="mt-0 mb-0"> Référence Bobine 2</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref2" id="_ref2" placeholder="Référence de la bobine 2">
      </div>
      <div class="col-md-4 mb-3 produc-list-u">  
        <label class="mt-0 mb-0"> Référence Bobine 3</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref3" id="_ref3" placeholder="Référence de la bobine 3">
      </div>
      <div class="col-md-4 mb-3 produc-list-u">  
        <label class="mt-0 mb-0"> Référence Bobine 4</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref4" id="_ref4" placeholder="Référence de la bobine 4">
      </div>
      <div class="col-md-4 mb-3 produc-list-u">    
        <label class="mt-0 mb-0"> Référence Bobine 5</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref5" id="_ref5" placeholder="Référence de la bobine 5">
      </div>
      <div class="col-md-4 mb-3 produc-list-u">  
        <label class="mt-0 mb-0"> Référence Bobine 6</label>
        <input class="form-control mt-0" type="search" minlength="15" maxlength="15" name="_ref6" id="_ref6" placeholder="Référence de la bobine 6">
      </div>
      </div>
      <div class="col-md-12 mb-3">
        {{ form.machine.label }}
        {{form.machine}}
      </div>
      <div class="col-md-6 mt-3">
      <button class="btn btn-outline-dark btn-md" type="submit">Valider</button>
      </div>
    </div>

    <div class="row justify-content-center">
      
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}
