{% include "base/base.html" %} {% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Etats Stock Atelier</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-workshop-status' 'rawmatter' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-fill-drip fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Matière Première</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-workshop-status' 'package' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-box-open fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Emballage</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

{% endblock content %}