{% include "base/base.html" %} {% block content %}

<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <!-- Section heading -->
        <h1 class="font-weight-bold black-text mb-5 pb-2">Etats Stock</h1>

        <!--First row-->
        <div class="row mt-1">

            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'rawmatter' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-fill-drip fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Matière Première</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'finishedproducttype' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-boxes fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Produit Fini</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'coiltype' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-database fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Bobines</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-3 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:detail-coils' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-scroll fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Détails Bobines</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:trash-in-recap' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-trash fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Déchet Généré</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'package' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-box-open fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Emballage</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'tape' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tape fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Scotch</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'handle' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-ring fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Cordon</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="{% url 'stock-manager:stock-status' 'labelling' %}" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-toilet-paper fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Labelling</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="" target="_blank" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cogs fa-3x text-muted"></i></p>
                        <h5 class="black-text mb-0"> Pièce De Rechange</h5>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
        <!-- Section heading -->
        <hr class="mb-4">

        <!--First row-->
        <div class="row mt-4">

<!--First row-->
</section>

</div>

{% endblock content %}