{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Déchet</h2>
  </div>
  <div>
  <div> <label class="font-weight-bold"> Déchet Haute Densité En Stock (Non Recyclé): </label> {{total_trash_high|floatformat:1}} (Kg)</div>
  <div> <label class="font-weight-bold"> Déchet Basse Densité En Stock (Non Recyclé): </label> {{total_trash_low|floatformat:1}} (Kg)</div>
  </div>

<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_ref" id="_ref" placeholder="Référence">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2" type="search" name="_id_machine" id="_id_machine" placeholder="Machine">
          </div>
          <div class="col-md-3">
            <input class="form-control p-2"  type="search" name="_id_weight" id="_id_weight" placeholder="Poids">
          </div>
      </div>
<!--  -->
      
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
        <div class="col-md-4 pt-2">
          &nbsp;	<input  type="checkbox" name="_id_high" id="_id_high" ><label for="_id_high">Haute Densité</label>
          &nbsp;	<input  type="checkbox" name="_id_low" id="_id_low" ><label for="_id_low">Basse Densité</label>
        </div>
        <div class="col-md-4 pt-2">
        	&nbsp;	<input  type="checkbox" name="_is_validated" id="_is_validated" ><label for="_is_validated">Validé</label>
        	&nbsp;	<input  type="checkbox" name="_is_not_validated" id="_is_not_validated" ><label for="_is_not_validated">En Attente</label>
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
    <label style="font-weight : bold;"> Poids Total Produit :</label> {{total|floatformat:1}} Kg
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:10%">Date</th>
          <th style="width:10%">Utilisateur</th>
          <th style="width:10%">Référence</th>
          <th style="width:10%">Type</th>
          <th style="width:10%">Poids</th>
          <th style="width:15%">Machine</th>
          <th style="width:15%">Commentaire</th>
          <th style="width:10%">Etat</th>
        </tr>
      </thead>
      <tbody>
        {% for trash in object_list %}
        <tr>
            <td>{{trash.date }}</td>
            <td>{% if trash.user is not None %} {{trash.user.first_name}} {{trash.user.last_name}} {% endif %} </td>
            {% comment %} <td><a href = "{% url 'stock-manager:invoice' production.slug %}" target ="_blank">{{production.slug}}</a></td> {% endcomment %}
            <td>{{trash.ref}}</td>
            <td>{{trash.get_trash_type_display}}</td>
            <td>{{trash.weight}}</td>
            <td>{% if trash.machine is not None %} {{trash.machine}} {% endif %} </td>
            <td>{% if trash.comment is not None %} {{trash.comment}} {% endif %} </td>
            <td>{{trash.get_state_display}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun Déchet</td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
