{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Ecart Déchet</h2>
  </div>


<!--  -->
  <div class="accordion mt-2 mb-4" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left font-weight-bold" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 <i class="fas fa-search"></i>&nbsp;	&nbsp; Recherche Avancée
              </button>
            </h2>
          </div>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">

    <form method="get" action=".">
      <div class="form-row mt-2 mb-2">
          <div class="col-md-5">
            <input class="form-control p-2" type="search" name="_id_user" id="_id_user" placeholder="Utilisateur">
          </div>
          <div class="col-md-2">
            <input class="form-control p-2"  type="search" name="_id_difference" id="_id_difference" placeholder="Différence">
          </div>
          <div class="col-md-5">
            <input class="form-control p-2"  type="search" name="_id_trash" id="_id_trash" placeholder="Déchet ID">
          </div>
      </div>
<!--  -->
      
<!--  -->
      <div class="form-row mt-2 mb-2">
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_min" id="date_min" >
        </div>
        <div class="col-md-2">
          <input class="form-control" type="date"   name="date_max" id="date_max">
        </div>
        <div class="col-md-4 pt-2">
          &nbsp;	<input  type="checkbox" name="_id_positive_difference" id="_id_positive_difference" ><label for="_id_positive_difference">Ecart Positif</label>
          &nbsp;	<input  type="checkbox" name="_id_negative_difference" id="_id_negative_difference" ><label for="_id_negative_difference">Ecart Négatif</label>
        </div>
      </div>
      <hr/>
        <button class="btn btn-dark float-right" type="submit">Recherche</button>
    </form>
    </div>
</div>
  </div>
  
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:10%">Date</th>
          <th style="width:10%">Utilisateur</th>
          <th style="width:20%">Déchet</th>
          <th style="width:15%">Ecart</th>
          <th style="width:15%">Type Ecart</th>
        </tr>
      </thead>
      <tbody>
        {% for correction in object_list %}
        <tr>
            <td>{{correction.date }}</td>
            <td>{{correction.user.first_name}} {{trashout.user.last_name}} </td>
            <td>{{correction.trash.ref}}</td>
            <td>{{correction.difference|floatformat:1}}</td>
            <td>{{correction.get_type_difference_display}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune Correction De Déchet</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
