{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
    <div class="col-md-6 mb-3">
        {{ form.product.label }}
        {{form.product}}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.coil_type.label }}
        {{form.coil_type}}
      </div>
    </div>

     <div class="form-row">
      <div class="col-md-6 mb-3">
        {{ form.machine.label }}
        {{form.machine}}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.quantity_produced.label }}
        {{form.quantity_produced}}
      </div>
    </div>


    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}