<!DOCTYPE html>
{% load static %}
<style type="text/css">
@page {
        size: A6;
        margin: 0.2cm;
      }
</style>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Bon De Sortie Déchet</title>
    <link href="{% static 'MDB/css/bootstrap.min.css' %}" rel="stylesheet" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo_placement">
        <img alt="logo" src="{{company.logo.path}}" />
      </div>
      <div class="card">
        <div>
          <p style="text-align: center; font-weight : bold ;font-size: 20px;">
            Bon N° : {{trashout.ref|upper}} </br>
          </p>

          <p style="text-align: center; font-size: 20px;">
            Pour : {{ trashout.destination }}
          </p>

          <p style="text-align: center; font-size: 20px;">
            Le : {{ trashout.date }} </br>
          </p>

          <p style="text-align: center; font-size: 20px;">
            Poids : {{ trashout.weight }} Kg</br>
          </p>

          <p style="text-align: center; font-size: 20px;">
            {{ trashout.get_trash_type_display }}</br>
          </p>
          
        </div>
      </div>
      
    </div>
  </body>
</html>
