{% load static %}
<nav class="navbar navbar-expand-lg special-color-white navbar-white mb-5">
  <img src="{% static 'default/tay_plast/images/logo.png' %}" width="50" height="50"
    class="d-inline-block align-top mr-4" alt="" loading="lazy">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main-index' %}"><i class="fas fa-home"></i> Acceuil</a>
      </li>
      {% if request.user.profile.job_position.name == "Administrateur" %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'product:index' %}"><i class="fas fa-user-cog"></i> Administration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'product:index-consulting' %} "><i class="fas fa-chalkboard-teacher"></i> Consultations</a>
      </li>
      {% endif %}
    </ul>
    <p style="font-weight: bold;">Support: 0795.69.83.82</p>
    <ul class="navbar-nav ml-auto nav-flex-icons">
    <li class="nav-item">
        <p class="nav-link font-weight-bold">{{ request.user.profile.job_position.name}} :</p>
    </li>
    <li class="nav-item">
        <p class="nav-link font-weight-bold">{{ request.user.first_name}} {{ request.user.last_name}}</p>
    </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Se
          Déconnecter</a>
    </li>
    </ul>
  </div>
</nav>