{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
  </div>
  <hr>
  <form method="POST" class="mb-3"> {% csrf_token %}
    <div class="form-group">
    <div class="col">
      {{form.name.label}}
      {{form.name}}
    </div>
    <div class="col mt-3">
      {{form.category.label}}
      {{form.category}}
    </div>
    </div>
    <div class="row mt-4">
      <form class="form-inline">
        <div class="col-sm-12 col-md-9 form-group">
          {% include 'base/form_validators.html' %}
          {% include 'base/messages.html' %}
        </div>
        <div class="col-sm-12 col-md-3 form-group">
          <button class="btn btn-outline-dark btn-lg float-right" type="submit">Valider</button>
        </div>
      </form>
    </div>

  </form>
  {% endblock  %}