{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
    <hr>
  </div>
  <form method="POST" class="mb-3">
    {% csrf_token %}
    <div class="row">
    <div class="col-md-4">
      {{form.range_name.label}}
      {{form.range_name}}
    </div>
    <div class="col-md-4">
      {{form.capacity.label}}
      {{form.capacity}}
    </div>
    <div class="col-md-4">
      {{form.the_print.label}}
      {{form.the_print}}
    </div>
    </div>
    <div class="row mt-5">
    <div class="col-md-3">
      {{form.type_name.label}}
      {{form.type_name}}
    </div>
    <div class="col-md-3">
      {{form.color.label}}
      {{form.color}}
    </div>
    <div class="col-md-3">
      {{form.perfume.label}}
      {{form.perfume}}
    </div>
    <div class="col-md-3">
      {{form.category.label}}
      {{form.category}}
    </div>
    </div>
    <div class="row mt-4">
      <form class="form-inline">
        <div class="col-sm-12 col-md-9 form-group">
          {% include 'base/form_validators.html' %}
          {% include 'base/messages.html' %}
        </div>
        <div class="col-sm-12 col-md-3 form-group">
          <button class="btn btn-outline-dark btn-lg float-right" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </form>
{% endblock content %}