{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-3 mb-3">
        {{ form.name.label }}
        {{form.name}}
        </div>
        <div class="col-md-2 mb-3">
        {{ form.capacity.label }}
        {{form.capacity}}
        </div>
        <div class="col-md-2 mb-3">
        {{ form.the_print.label }}
        {{form.the_print}}
        </div>
        <div class="col-md-3 mb-3">
        {{ form.perfume.label }}
        {{form.perfume}}
        </div>
        <div class="col-md-2 mb-3">
        {{ form.weight.label }}
        {{form.weight}}
        </div>
    </div>
    

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}