{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
    <hr>
  </div>
  <form method="POST">

    {% csrf_token %}

    <div class="form-row">
        <div class="col-md-4 mb-3">
        {{ form.ref.label }}
        {{form.ref}}
        </div>
        <div class="col-md-4 mb-3">
        {{ form.name.label }}
        {{form.name}}
        </div>
        <div class="col-md-4 mb-3">
        {{ form.name_fr.label }}
        {{form.name_fr}}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
        {{ form.quantity.label }}
        {{form.quantity}}
        </div>
        <div class="col-md-4 mb-3">
        {{ form.threshold.label }}
        {{form.threshold}}
        </div>
        <div class="col-md-4 mb-3">
        {{ form.price.label }}
        {{form.price}}
        </div>
    </div>
    
    <div class="form-row">
        <div class="col-md-12 mb-3">
        {{ form.category.label }}
        {{form.category}}
        </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}