{% extends "base/base.html" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1>{{form_name}}</h1>
    <hr>
  </div>
  <form method="POST">
    
    {% csrf_token %}

    <div class="form-row">
      <div class="col-md-4 mb-3">
        {{ form.name.label }}
        {{form.name}}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.type_name.label }}
        {{form.type_name}}
      </div>
      <div class="col-md-4 mb-3">
        {{ form.color.label }}
        {{form.color}}
      </div>
    </div>

    <div class="form-row">
    <div class="col-md-6 mb-3">
        {{ form.perfume.label }}
        {{form.perfume}}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.flavor.label }}
        {{form.flavor}}
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        {{ form.brand.label }}
        {{form.brand}}
      </div>
      <div class="col-md-6 mb-3">
        {{ form.weight.label }}
        {{form.weight}}
      </div>
    </div>

    <div class="row justify-content-center">
      <button class="btn btn-outline-dark btn-lg" type="submit">Valider</button>
      <div class="col-sm-12 col-md-12">
        {% include 'base/form_validators.html' %}
        {% include 'base/messages.html' %}
      </div>
    </div>

  </form>
</div>
{% endblock content %}