{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center">
    <h1 class="font-weight-bold black-text mb-5 pb-2">Liste de Commande(s)</h1>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">N° Commande</th>
          <th scope="col">Utilisateur</th>
          <th scope="col">Client/Fournisseur</th>
          <th scope="col">Type de Transaction</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for order in object_list %}
        <tr>
          <td>{{order.ref_code}}</td>
          <td>{{order.user}}</td>
          <td>{{order.contact}}</td>
          <td>{{order.get_type_order_display}}</td>
          <td>{{order.ordered_date}}</td>
          <td>
            <a
              class="btn btn-sm btn-ouline-dark text-dark"
              href="{% url 'stock-manager:order-detail' order.slug %}" target="_blank"
              >Inspecter</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content%}
