{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>{{form_name}}</h1>
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Productions en attente de validation</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:5%">#</th>
          <th style="width:10%">Opérateur</th>
          <th style="width:5%">Date</th>
          <th style="width:25%">Machine</th>
          <th style="width:30%">Produit</th>
          <th style="width:5%">Quantité</th>
          <th style="width:5%">Confirmation</th>
          <th style="width:5%">Validation</th>
          <th style="width:5%">Suppresion</th>
        </tr>
      </thead>
      <tbody>
        {% for production in object_list %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{production.user}}</td>
            <td>{{production.date}}</td>
            <td>{{production.machine|upper}}</td>
            <td>{{production.product.product_designation|upper}}</td>
            <td>{{production.quantity_produced|upper}}</td>
            <input type="hidden" value="{{ production.slug }}" name="get_production" />
            <td class="text-right">
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="quantity"
                id="quantity"
                min="0"
                type="number"
              />
            </td>
            <td class="text-right">
              <button type="submit" class="btn btn-dark btn-sm float-left mt-0" >Valider</button>
            </td>
            <td class="text-right">
              <a type="submit" class="btn btn-red btn-sm float-left" href="{% url 'stock-manager:delete-final-product-production' production.slug %}">Supprimer</a>
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune production à valider</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
