{% extends "base/base.html" %} 
{% load static %}
{% block content %}
<script
      type="text/javascript"
      src="{% static 'MDB/js/jquery.min.js' %}"
    ></script>

<script
  type="text/javascript"
  src="{% static 'MDB/js/jquery.min.js' %}"
></script>

<script type="text/javascript">
  $(document).ready(function() {
    $("#product_search").on("keyup", function() {
      var value = $(this)
        .val()
        .toLowerCase();

      $("#product_list tr").filter(function() {
        $(this).toggle(
          $(this)
            .text()
            .toLowerCase()
            .indexOf(value) > -1
        );
      });
    });
  });
</script>

<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>Stock Atelier {% if category == "rawmatter" %} Matière Première {% elif category == "handle" %} Cordon {% elif category == "labelling" %} Labelling{% endif %}</h1>
  </div>
  <div class="container">
    <div class="form-inline justify-content-b">
      <form class="md-form mr-auto mb-4">
        <input
          class="form-control"
          type="text"
          placeholder="Search"
          aria-label="Search"
          id = "product_search"
        />
      </form>
    </div>
  </div>
  <div class="container">{% include 'base/messages.html' %}</div>

  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th scope="col-1">#</th>
          <th scope="col-5">Nom</th>
          <th scope="col-2">Quantité {% if category == "rawmatter" %} (kg) {% endif %}</th>
          <th scope="col-2">Quantité</th>
          <th scope="col-2">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <form method="POST">
            {% csrf_token %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{object|upper}}</td>
            <td class="text-left" id="q-{{ product.id }}">  
            {{object.quantity_workshop}}
            </td>
            <input type="hidden" value="{{ object.slug }}" name="obj" />
            <td class="text-right">
              <input
                pattern=".{1,}"
                required="required"
                class="form-control form-control-sm"
                name="quantity"
                id="quantity"
                type="number"
                min="0"
                step="0.01"
              />
            </td>
            <td class="text-right">
              <button type="submit" class="btn btn-dark btn-sm">Valider</button>
            </td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun produit</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script>
  var real_quantity = document.getElementById("q-72");
  console.log("-----", real_quantity);
</script>
{% endblock content %}
