{% extends "base/base.html" %} {% block content %}
<div class="container-fluid shadow-lg p-3 mb-5 bg-white rounded">
  <div class="text-center m-3">
    <h1>{{form_name}}</h1>
  </div>
  <div class="container-fluid">{% include 'base/messages.html' %}</div>
  <div class="text-center">
    <h2>Historique Sorties Déchets</h2>
  </div>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover">
      <thead class="black white-text">
        <tr>
          <th style="width:5%">Date</th>
          <th style="width:10%">Opérateur</th>
          <th style="width:10%">Référence</th>
          <th style="width:10%">Type Déchet</th>
          <th style="width:5%">Poids Déchet</th>
          <th style="width:10%">Destination</th>
        </tr>
      </thead>
      <tbody>
        {% for trashout in object_list %}
        <tr>
          <form method="POST" action="{{product.get_add_to_order_url}}">
            {% csrf_token %}
            <td>{{trashout.date}}</td>
            <td>{{trashout.user}}</td>
            <td><a href = "{% url 'stock-manager:trashout-invoice' trashout.ref %}" target = '_blank' >{{trashout.ref}}</a></td>
            <td>{{trashout.get_trash_type_display}}</td>
            <td>{{trashout.weight}}</td>
            <td>{{trashout.destination}}</td>
          </form>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucun historique de déchet</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
